
<style>
	.divDocList .headerRow, .divDocList .dataRow {
	}
	.divDocList .dataRow {
		text-align:center;
	}
	.divDocImagePreview > iframe {
		width:100%;
	}

</style>
<%
	var client = $.parseClient();
	var currentTask = $.parseClient().currentTask;
	var documents = currentTask.documents;
%>
<div class="divDocList">
	<ul class="list-group">

		<% _.each(documents, function(d) { %>
			<li class="list-group-item" style="border-radius:0px;">
				<div class="col-xs-6" style="word-break:break-all;">
					<p><b><%=d.docType%></b></p>
					<p><%=d.docCreated%></p>
					<p><%=d.docCreatedBy%></p>
					<p style="margin-bottom:0;"><%=d.documentDescription%></p>
				</div>
				<div class="col-xs-6 text-center">
					<% var documentColour='default';%>
						<% if(d.docExt=='JPG' || d.docExt=='PNG'){ %>
							<a class="docFullView" data-docPath="<%=serverPath%>/image2/<%=client.clientGuid%>/<%=d.docGuid%>/<%=d.docExt%>" data-docType="<%=d.docExt%>">
								<img data-original="<%=serverPath%>/image2/<%= client.clientGuid%>/<%= d.docGuid %>/<%= d.docExt %>/150"   />
							</a>
						<% } else { %>
							<a data-docPath="<%=serverPath%>/image2/<%=client.clientGuid%>/<%=d.docGuid%>/<%=d.docExt%>" data-docType="<%=d.docExt%>" style="color:#FFF;" class="viewDoc btn btn-<%=documentColour%>">
								<span class="glyphicon glyphicon-file"></span><%=d.docExt%>
							</a>
						<% } %>
				</div>
				<div style="clear:both;"></div>
			</li>
		<%});%>
		<%= (!documents.length)? '<h1 class="text-center">'+ (ramText? 'Please upload a site specific RAM' : 'No documents') +'</h1>' : '' %>
	</ul>
</div>
