<%
	var currentTask = $.parseClient().currentTask;

	try{
		if(currentTask.finishTask===undefined){
			var currentTask = {
				finishTask : {

				}
			}
		}
	} catch(e){
		var currentTask = {
			finishTask : {

			}
		}
	}
%>
<div class="list-group-item list-group-item-default">
	Incomplete actions are shown in red. You must return to these sections to complete the action and turn all boxes green before closing the task
</div>
<ul style="text-align:center;" class="list-group">
	<%
		if(!currentTask.finishTask.taskStatus){
			%>
			<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="ClosingStatus">Closing status missing <span class="glyphicon glyphicon-remove"></span></li>
			<%
		} else {
			%>
				<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="ClosingStatus">Closing status <span class="glyphicon glyphicon-ok"></span></li>
			<%
		}
	%>
	<%
		if($.getAppPermission('reasonForFailure') && ['PPM', 'AutoPPM', 'QuotedWorks'].indexOf(currentTask.task[0].taskType) === -1){
			if( !currentTask.finishTask.reasonForFailure || currentTask.finishTask.equipStatus === undefined ){
				%>
				<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="ClosingStatus">Reson for failure missing <span class="glyphicon glyphicon-remove"></span></li>
				<%
			} else {
				%>
					<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="ClosingStatus">Reason for failure <span class="glyphicon glyphicon-ok"></span></li>
				<%
			}
		}
	%>
	<%
		if($.getAppPermission('forceQuoteDoc') !== 0 && currentTask.finishTask.taskStatus === 'QuoteRequired'){
			if( !currentTask.quoteUpload ){
				%>
					<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="Documents">Quote document not uploaded <span class="glyphicon glyphicon-remove"></span></li>
				<%
			} else {
				%>
					<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="Documents">Quote document uploaded <span class="glyphicon glyphicon-ok"></span></li>
				<%
			}
		}
	%>
	<%
		if(!currentTask.finishTask.workNotes || currentTask.finishTask.workNotes.length < 30 ){

			%>
			<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="ClosureNotes">Closure notes not completed <span class="glyphicon glyphicon-remove"></span></li>
			<%
		} else {
			%>
				<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="ClosureNotes">Closure notes <span class="glyphicon glyphicon-ok"></span></li>
			<%
		}
	%>
	<%
		if(!currentTask.finishTask.sigData || !currentTask.finishTask.signatory ){
			%>
			<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="Signature">Signature not received <span class="glyphicon glyphicon-remove"></span></li>
			<%
		} else {
			%>
				<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="Signature">Signature <span class="glyphicon glyphicon-ok"></span></li>
			<%
		}
	%>

	<%
		if( currentTask.finishTask.finishMatsUsedYN === 'Y' && !currentTask.finishTask.finishMatsUsed ){
			%>
			<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="Materials">Materials not specified <span class="glyphicon glyphicon-remove"></span></li>
			<%
		} else {
			%>
				<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="Materials">Materials <span class="glyphicon glyphicon-ok"></span></li>
			<%
		}
	%>

	<%
		if(!currentTask.finishTask.worksSeverity){
			%>
			<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="ClosingSeverity">Closing severity not received <span class="glyphicon glyphicon-remove"></span></li>
			<%
		} else {
			%>
				<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="ClosingSeverity">Closing severity <span class="glyphicon glyphicon-ok"></span></li>
			<%
		}
	%>

  <%
  	var closureAllowed=1;
  	var ppmAssetOKCount = 0;
  	if(currentTask.assets && currentTask.assets.length>0){
          _.each(currentTask.assets, function(a){
          /*	var thisAssetOK = 1;
              if(!a.status){
              	thisAssetOK=0;
                  closureAllowed=0;
              }
              if(!a.compliant){
              	thisAssetOK=0;
                  closureAllowed=0;
              }
              if(!a.operational){
              	thisAssetOK=0;
                  closureAllowed=0;
              }
              if(thisAssetOK===1){
              	ppmAssetOKCount=ppmAssetOKCount+1;
              }
              */
              if(currentTask.finishTask.taskStatus !== 'AnotherVisit') {
              	if ( ( a.compliant  == "" && a.PassFail == "") ||  a.status  == "Pending" || a.operational == null  || a.condition == "Pending") {
                   closureAllowed=0;
              	} else {
              		ppmAssetOKCount=ppmAssetOKCount+1;
              	}
              }
          });

          if(closureAllowed===1){
        		%>
        			<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="PPMAssetList">PPM Assets OK <span class="glyphicon glyphicon-ok"></span></li>
        		<%
        	} else {
        		%>
        			<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="PPMAssetList">PPM Assets not completed (<%=ppmAssetOKCount%> of <%=currentTask.assets.length%>) <span class="glyphicon glyphicon-remove"></span></li>
        		<%
        	}
  	}
  %>
  <%
  if(currentTask.auditList){
    if(currentTask.finishTask.incompleteAudits){
    %>
    <li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="AuditReactive">Audit reactive jobs (<%= currentTask.finishTask.incompleteAudits %>) <span class="glyphicon glyphicon-remove"></span></li>
  <%}else{%>
    <li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="AuditReactive">Audit reactive jobs OK <span class="glyphicon glyphicon-ok"></span></li>
    <% }
  } %>
	<%
		if(currentTask.meterReadings.length>0){
	        var intRegex = /^\d+$/;
	        var meterReadingsValid = 1;
			_.each(currentTask.meterReadings, function(mr){
	            if(!intRegex.test(mr.meterReading)) {
	               meterReadingsValid=0;
	            }
			});

			if(!meterReadingsValid){
				%>
				<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="MeterReadings">Meter readings not received <span class="glyphicon glyphicon-remove"></span></li>
				<%
			} else {
				%>
				<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="MeterReadings">Meter readings received <span class="glyphicon glyphicon-ok"></span></li>
				<%
			}
		}
	%>
	<%
		if(currentTask.tapTemperatures && currentTask.tapTemperatures.length>0){
	        var intRegex = /^\d+$/;
	        var tapTemperaturesValid = 0,
				temps = currentTask.tapTemperatures,
				reger = /\d+(\.\d{1})?/;

			if( _.filter(temps, function(t){
				return ((t.HotTap && reger.test(t.TapDataH) ) || !t.HotTap ) && ((t.ColdTap && reger.test(t.TapDataC) ) || !t.ColdTap );
			}).length === temps.length ){
	               tapTemperaturesValid=1;
	        }


			if(!tapTemperaturesValid){
				%>
				<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="TapTemperatures">Tap temperatures not received <span class="glyphicon glyphicon-remove"></span></li>
				<%
			} else {
				%>
				<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="TapTemperatures">Tap temperatures received <span class="glyphicon glyphicon-ok"></span></li>
				<%
			}
		}
	%>

	<%
	if( $.getAppPermission('fGas') && parseInt(currentTask.task[0].isFGas) ){
		if(currentTask.fGasStream === 0){
			%>
      <li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="FGas">F-Gas data not received <span class="glyphicon glyphicon-remove"></span></li>
			<%
		} else if( currentTask.fGasStream === 1 ) {
			%>
			<li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="FGas">F-Gas data not received <span class="glyphicon glyphicon-remove"></span></li>
			<%
		} else if( currentTask.fGasStream === 2 ) {
			%>
			<li class="list-group-item list-group-item-success liLinkToTab" data-buttonSet="FGas">F-Gas data received <span class="glyphicon glyphicon-ok"></span></li>
			<%
		} else if( currentTask.fGasStream === 3 ) {
			%>
			<li class="list-group-item list-group-item-success">No F-Gas <span class="glyphicon glyphicon-ok"></span></li>
			<%
		}
	}%>
  <!--<% if(currentTask.currentAsset === ''){ %>
    <li class="list-group-item list-group-item-danger liLinkToTab" data-buttonSet="BuildingAssets">Confirm asset <span class="glyphicon glyphicon-remove"></span></li>
  <% }else{ %>
    <li class="list-group-item list-group-item-success">Confirm asset <span class="glyphicon glyphicon-ok"></span></li>
  <% } %>-->
</ul>
