<script type="text/template" id="blank.html" >

</script>

<script type="text/template" id="update.html" >
		<div class="btn btn-primary btnHide">
	        <span class="glyphicon glyphicon-arrow-left"></span>
	    </div>
		<div class="btn btn-info btnSettings" ><span class="glyphicon glyphicon-cog"></span></div>
</script>

<script type="text/template" id="allocateEngineer.html" >
		<div class="btn btn-primary btnPrevSection pull-left" style="margin-left:1%;"><span class="glyphicon glyphicon-chevron-left"></span></div>
		<div class="btnExitMenu btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></div>
		<div class="btn btn-primary btnNextSection pull-right" style="margin-right:1%;"><span class="glyphicon glyphicon-chevron-right"></span></div>


</script>

<script type="text/template" id="allocationFrame.html" >
		<div class="btn btn-primary btnPrevSection pull-left" style="margin-left:1%;"><span class="glyphicon glyphicon-chevron-left"></span></div>
		<div class="btnExitMenu btn btn-primary">Exit</div>
		<div class="btn btn-primary btnNextSection pull-right" style="margin-right:1%;"><span class="glyphicon glyphicon-chevron-right"></span></div>

</script>

<script type="text/template" id="availableClients.html" >
		<a href="#home" class="btnHome btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</a>
</script>

<script type="text/template" id="confirmCheckInOLD.html" >
		<a href="#home" class="btnHome btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</a>
		<div id="btnCheckInConfirm" name="btnCheckInConfirm" class="btn btn-primary pull-right" data-qrCode="<%=qrCode.qr%>" data-x="<%=qrCode.x%>" data-y="<%=qrCode.y%>">Continue</div>

</script>

<script type="text/template" id="confirmCheckIn.html" >
		<a href="#home" class="btnHome btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</a>
		<div id="btnCheckInConfirm" name="btnCheckInConfirm" class="btn btn-primary pull-right disabled">Continue</div>

</script>

<script type="text/template" id="listQR.html" >
	    <div <%= !showPrevious ? 'disabled="disabled"' : '' %> class="btnQRPrevious btn btn-primary pull-left" style="margin-left:1%;">
	        <span class="glyphicon glyphicon-circle-arrow-left"></span>
	    </div>

	    <a href="#home" class="btn btn-primary btnHome"> <span class="glyphicon glyphicon-home"></span> </a>

	    <div <%= !showNext ? 'disabled="disabled"' : '' %> class="btnQRNext btn btn-primary pull-right" style="margin-right:1%;">
	        <span class="glyphicon glyphicon-circle-arrow-right"></span>
	    </div>


</script>

<script type="text/template" id="mainMenu2.html" >
	    <div class="btnExitMenu btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</div>
</script>

<script type="text/template" id="avatarPrompt.html">
	<div style="width:120px" class="btn btn-primary pull-right btnAvatarCancel">Back</div>
</script>
<script type="text/template" id="updatePrompt.html">
</script>

<script type="text/template" id="qrPrompt.html" >
    <a href="#home" class="btnHome btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Exit</a>
		<span class="divAssignQRButtonSet buttonSet" style="">
			<div style="" class="btn btn-default btnQRAssign">Assign QR Code</div>
		</span>
</script>

<script type="text/template" id="qrScanOLD.html" >
		<a href="#home" class="btnHome btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</a>
		<div id="btnRetryGeo" class="btn btn-primary pull-right" style="display:none;">Retry <span class="glyphicon glyphicon-refresh"></span></div>
    <div id="btnCheckIn" class="btn btn-primary pull-right" style="display:none;" data-qrCode="<%=qrCode.qr%>" data-building="<%=qrCode.b%>" data-x="<%=qrCode.x%>" data-y="<%=qrCode.y%>" data-y="<%=qrCode.building%>">
        Continue <span class="glyphicon glyphicon-arrow-right"></span>
    </div>
</script>

<script type="text/template" id="qrScan.html" >
		<a href="#home" class="btnHome btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</a>
		<div id="btnRetryGeo" class="btn btn-primary pull-right" style="display:none;">Retry <span class="glyphicon glyphicon-refresh"></span></div>
	    <div id="btnCheckIn" class="btn btn-primary pull-right" style="display:none;">
	        Continue <span class="glyphicon glyphicon-arrow-right"></span>
	    </div>


</script>

<script type="text/template" id="taskFinished.html" >
		<a href="#home" class="btnHome btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</a>


</script>

<script type="text/template" id="taskList.html" >
		<a href="#home" class="btnHome btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</a>
		<%
			var showAllocation='none';
			if($.getAppPermission('Allocation')>0){
				showAllocation='visible';
			}
		%>
    <% if($.parseClient().buildingCheckIn.surveyLink){ %><div class="btn btn-primary site-survey-btn">Site Survey</div><% } %>
		<div class="refreshTasks btn btn-primary pull-right"><span class="glyphicon glyphicon-refresh"></span> Refresh</div>
</script>

<script type="text/template" id="telCheckIn.html" >
		<a href="#home" class="btn btn-primary btnHome">
	        <span class="glyphicon glyphicon-home"></span>
	    </a>


</script>

<script type="text/template" id="timeSheets.html" >
	    <div class="btnExitMenu btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</div>


</script>

<script type="text/template" id="timeSheetsWeek.html" >
	    <div class="btnExitMenu btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</div>


</script>

<script type="text/template" id="privacyPolicy.html" >
		<div class="btnAgreeTerms btn btn-primary"><span class="glyphicon glyphicon-tick"></span>I Agree</div>

</script>

<script type="text/template" id="home.html.startedTask" >
		<%
			var showAllocation='none';
			if($.getAppPermission('Allocation')>0){
				showAllocation='visible';
			}
		%>
		<div class="btnViewTask btn btn-primary pull-left"><span class="glyphicon glyphicon-menu"></span>Current Task</div>
		<%
			if(showAllocation=='visible'){
				%>
				<div class="btn btn-primary btn-primary allocationLink" >Agenda</div>
				<%
			}
		%>
		<div class="btnViewTask btn btn-primary pull-right" style="visibility:hidden;"><span class="glyphicon glyphicon-menu"></span>Current Task</div>
</script>

<script type="text/template" id="home.html.onSite" >
	    <div class="btnTaskList btn btn-primary pull-left">View Tasks</div>
			<%
				var showAllocation='none';
				if($.getAppPermission('Allocation')>0){
					showAllocation='visible';
				}
			%>
			<%
				if(showAllocation=='visible'){
					%>
					<div class="btn btn-primary btn-primary allocationLink">Agenda</div>
					<%
				}
			%>
	    <div class="btnRemoteScanOut btn btn-primary pull-right" ><span class="small">Remote Scan Out</span></div>

</script>


<script type="text/template" id="home.html.default" >
    <div class="btnMenu btn btn-primary pull-left">Options</div>
		<%
			var showAllocation='none';
			if($.getAppPermission('Allocation')>0){
				showAllocation='visible';
			}
		%>
		<%
			if(showAllocation=='visible'){
				%>
				<div class="btn btn-primary btn-primary allocationLink" href="">Agenda</div>
				<%
			}
		%>
    <div class="btnChangeClient btn btn-primary pull-right">Clients</div>
</script>

<script type="text/template" id="home.html.case0" >
	    <div class="btnExitMenu btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</div>

</script>

<script type="text/template" id="TaskInformationSlide.html" >
	<div class="btn btn-danger btnAbandonTask " data-taskGuid="<%=$.getCurrentTaskGuid()%>">Abandon</div>
</script>

<script type="text/template" id="BuildingDetailsSlide.html" >

</script>

<script type="text/template" id="EventHistorySlide.html" >



</script>
<script type="text/template" id="AuditReactiveSlide.html" >

</script>
<script type="text/template" id="AllocatedVisitsSlide.html" >



</script>

<script type="text/template" id="PhotosSlide.html" >
  <% if(addPhoto === 0){ %>
  	<div class="btn btn-primary btnAddPhoto">New Photo</div>

  <% }else if(addPhoto === 1){ %>

		<div id='btnSelectPhoto' style="padding-left:20px;padding-right:20px" class="btn btn-info">
			<span class="glyphicon glyphicon-camera"></span>
		</div>
		<div id='btnSelectPhotoFil' style="padding-left:20px;padding-right:20px" class="btn btn-success" >
			<span class="glyphicon glyphicon-folder-open"></span>
		</div>
    <input id='filUploadPhoto' name='filUpload' capture type="file" style="width:0px;height:0px;overflow:hidden; display:inline-block" />
  <% }else if(addPhoto === 2){ %>
  	<div id='btnUploadPhoto' type="submit" class="btn btn-success">Upload</div>
  <% } %>
  <% if( [1,2].indexOf(addPhoto) !== -1){ %><div class="btn  btn-primary btnBackToPhotoList">All photos</div> <% } %>
</script>

<script type="text/template" id="PhotosSlideAllPhotosBtn.html" >
  <div class="btn  btn-primary btnBackToPhotoList" style="" >All photos</div>
</script>

<script type="text/template" id="DocumentsSlide.html" >
  <% if(addDocument === 0){ %>
  	<div class="btn btn-primary btnAddDocument"><%= (!!currentTask.riskAssessment && currentTask.RR.riskStatus !== 4 )? 'Site specific RAM' : 'New Document' %></div>
  	<% if(currentTask.RAMUpload && currentTask.RR.riskStatus !== 4 ){ %> <div class="btn btn-primary completeRA">Done</div> <% } %>
  <% }else if(addDocument === 1){ %>
  	<div id='btnSelectDoc' class="btn btn-success posRel" style="">
  		Select Document
      <input id='filUpload' class="fileUpload" name='filUpload' type="file" />
  	</div>

  <% }else if(addDocument === 2){ %>
  	<div id='btnUploadDocument' class="btn btn-success disabled" style="">Upload</div>
  <% } %>
  <% if( [1,2].indexOf(addDocument) !== -1){ %> <div class="btn btn-primary btnBackToDocList" style="" >All documents </div> <% } %>

</script>

<script type="text/template" id="DocumentsSlideAllDocsBtn.html" >
  <div class="btn  btn-primary btnBackToDocList" style="" >All documents</div>
</script>

<script type="text/template" id="assetDetails0.html" >
  <!--<div class="btn btn-primary editAsset" style="margin-right:38px;"><span class="glyphicon glyphicon-pencil"></span> Edit Details</div>-->
    <div class="btn btn-primary backToMain" style="margin-right:15px;"><span class="glyphicon glyphicon-remove"></span> Cancel</div>
    <div class="btn btn-success addToTask" style=""><span class="glyphicon glyphicon-ok"></span> Confirm Asset</div>
</script>
<script type="text/template" id="assetDetails1.html" >
		<div class="btn btn-primary cancelEdit" style="margin-right:38px;"><span class="glyphicon glyphicon-arrow-left"></span> Cancel Changes</div>
		<div class="btn btn-primary updateAsset" style="margin-right:38px;"><span class="glyphicon glyphicon-floppy-saved"></span> Update Asset</div>
</script>

<script type="text/template" id="assetCreateFooter.html" >
		<div class="btn btn-primary backToMain pull-left" style="margin-left:1%;"><span class="glyphicon glyphicon-chevron-left"></span></div>
</script>

<script type="text/template" id="
1.html">

</script>
<script type="text/template" id="transferAssetData0.5.html">
	<div class="btn btn-primary backToMain">Exit</div>
</script>
<script type="text/template" id="transferAssetData0.html">
	<div class="btn btn-primary backToMain">Exit</div>
</script>
<script type="text/template" id="transferAssetData1.html">
	<div class="btn btn-primary backToMain">Exit</div>
</script>
<script type="text/template" id="transferAssetData2.html">
	<div style="width:120px" class="btn btn-primary btnStepBack"><span class="glyphicon glyphicon-chevron-left"></span> Step 1</div>
</script>
<script type="text/template" id="transferAssetData3.html">
	<div class="btn btn-primary backToMain">Exit</div>
</script>
<script type="text/template" id="transferAssetData4.html">
	<div class="btn btn-primary backToMain">Exit</div>
</script>

<script type="text/template" id="BuildingAssetsSlide.html" >
	<!--<div class="btn btn-primary transferAssetData">
		<div class="" style="font-size:.5em; display:inline">
			<span style="font-size: 1.8em; line-height:1em;&nbsp;" class="glyphicon glyphicon-qrcode"></span>
	        <span style="font-size: 1.3em; line-height:1.8em; vertical-align:top;" class="glyphicon glyphicon-arrow-right"></span>
	        <span style="font-size: 1.8em; line-height:1em;" class="glyphicon glyphicon-qrcode"></span>
	        <span style="font-size: 1.8em; line-height: 1em; vertical-align: super;">*</span>
		</div>&nbsp;Replace QR
	</div>-->
	<!--<div class="btn btn-primary scanAsset"><span class="glyphicon glyphicon-qrcode"></span> Scan QR Code</div>-->
</script>
<script type="text/template" id="BuildingAssetsChoose.html" >
	<div class="btn btn-warning assetNa">
    <span class="glyphicon glyphicon-ban-circle"></span> Asset N/A
  </div>
</script>

<script type="text/template" id="BuildingAssetsSubmit.html" >

	<div class="btn btn-primary submitAsset btn-block">Submit Asset</div>

</script>

<script type="text/template" id="PPMAssetListSlide.html" >
  <%if(assets.length){%>
    <div class="btn btn-danger btnDelegateAll">Delegate All Assets&nbsp; <span class="glyphicon glyphicon-hand-right"></span></div>
  <%}%>
</script>

<script type="text/template" id="PPMAssetConfirmDelegateAll.html">Delegate all assets?&nbsp;
  <div class="btn btn-default btnDelegateAllCancel">Cancel&nbsp;<span class="glyphicon glyphicon-remove"></span></div>
  <div class="btn btn-danger btnDelegateAllConfirm">Confirm&nbsp;<span class="glyphicon glyphicon-ok"></span></div>
</script>

<script type="text/template" id="PPMAssetEdit.html" >

	<div class="btn btn-primary btnCancelAsset"><span class="glyphicon glyphicon-chevron-left"></span> Asset List</div>
	<div class="btn btn-danger btnDelegateAsset">Delegate Asset <span class="glyphicon glyphicon-hand-right"></span></div>

</script>

<script type="text/template" id="PPMAssetHist.html" >

	<div class="btn btn-primary btnBackToAsset pull-left"><span class="glyphicon glyphicon-chevron-left"></span></div>

</script>

<script type="text/template" id="PPMAssetHistDeet.html" >

	<div class="btn btn-primary btnBackToAssetHistory pull-left"><span class="glyphicon glyphicon-chevron-left"></span></div>

</script>

<script type="text/template" id="FGasControl.html" >

</script>

<script type="text/template" id="FGasMain.html" >
	<div class="btn btn-primary cancel">Cancel</div>
	<div class="btn btn-success save">Save F-Gas</div>
</script>

<script type="text/template" id="MeterReadingsSlide.html" >

	<div class="btn btn-primary btnSaveMeterReadings">Save Readings</div>

</script>
<script type="text/template" id="TapTemperaturesSlide.html" >

	<div class="btn btn-primary btnSaveTapTemperatures <%= savePermitted? '' : 'disabled' %>">Save Temperatures</div>

</script>

<script type="text/template" id="OddJobsSlide.html" >


</script>

<script type="text/template" id="OddJobDetails.html" >
    <div class="btn btn-lg btn-default btnSaveOddJob btnSaveOddJob<%=PK_Clip_Key%>" data-oddJobID="<%=PK_Clip_Key%>">Save</div>
</script>

<script type="text/template" id="ClosingStatusSlide.html" >



</script>

<script type="text/template" id="ClosureNotesSlide.html" >



</script>

<script type="text/template" id="SignatureSlide.html" >

	<div class="btn btn-primary btnGetSignature">Get Signature<%= again? ' Again' : '' %></div>

</script>

<script type="text/template" id="SignatureTwoSlide.html" >

	<div class="btn btn-primary clear pull-left btnClearSignature" style="margin-left:1%;">Clear</div>
	<div class="btn btn-primary clear btnCancelSignature">Cancel</div>
	<div class="btn btn-primary pull-right btnSaveSignature" style="margin-right:1%;">Save</div>

</script>

<script type="text/template" id="MaterialsSlide.html" >



</script>

<script type="text/template" id="ClosingSeveritySlide.html" >


</script>

<script type="text/template" id="NextVisitNotes.html" >
    <div class="btn btn-success saveNote"> Save Note </div>
</script>

<script type="text/template" id="FinishTaskSlide.html" >

    <div id="btnSubmitFinishTaskValidate" class="btn btn-primary">Finish Task</div>

</script>

<script type="text/template" id="FinishCertify.html" >
	<div id="btnSubmitFinishTask" class="btn btn-primary forRealz">Submit</div>
	<div class="btn btn-danger overlayCancel">Cancel</div>

</script>

<script type="text/template" id="SiteSpecificNoteSlide.html">
	<div class="btn btn-primary continueRisk" id="RAMUpload">OK</div>
</script>

<script type="text/template" id="RiskAssessmentSlidePass.html" >
	<div class="btn btn-primary continueRisk" id="saveRiskBtn">Save</div>

</script>

<script type="text/template" id="RiskAssessmentSlideFail.html" >
	<div class="btn btn-primary continueRisk" id="toRams">Continue</div>
	<div class="btn btn-warning deferTaskBtn" data-taskGuid="<%=$.getCurrentTaskGuid()%>">Defer Task <%=task[0].taskNum%></div>
</script>

<script type="text/template" id="RiskAssessmentSlideIncomplete.html" >
	<span>Please answer all questions</span>
</script>

<script type="text/template" id="RamsDocumentsSlide.html" >
	<div class="btn btn-primary continueRisk" id="riskPass">Done</div>
</script>

<script type="text/template" id="RamsDocumentsSlideSiteNote.html" >
	<div class="btn btn-primary continueRisk" id="siteRamNote">Continue</div>
</script>

<script type="text/template" id="viewTaskController.html" >
	<div class="btn  btn-primary btnBackToPhotoList" style="display:none;" >All photos</div>
	<div class="btn  btn-primary btnBackToDocList" style="display:none;" >All documents </div>
	<%
		if(mode.mode==='allocation'){
	%>
		<div class="btn btn-primary btnExit">Exit</div>
	<%
		} else {
	%>
		<div class="btn btn-primary btnTaskList">Task List</div>
		<div class="btn btn-success btnBeginTask" data-taskGuid="<%=$.getCurrentTaskGuid()%>">Begin <%=task[0].taskNum%></div>

	<%
		}
	%>
</script>
