

<div class="alert alert-warning" style="display:none;">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
</div>
<div class="xpanel">
  <div class="sectionBody" style="padding:12px 0 0;">
    <div class="" style="width:100%; overflow:hidden; padding:0 10px 12px 0;">
      <table class="table" style="table-layout:fixed">
        <tbody>
          <tr >
            <th style="width:80px; height:50%; border-top:none; vertical-align: middle!important;">Engineer:</th>
            <td style="border-top:none; height:50%;"><%=localStorage_a.getItem('userName')%></td>
            <td rowspan="2" style="width:30%; max-width:180px; border:1px solid #ddd; text-align:center;">
              <div id="avatarCell" style="width:100%; position:relative; height:100%; overflow:hidden">
                <% if($.getAppPermissionByName('avatarGuid').length < 16){ %>
                  <button data-userGuid="" class="btn btn-lg btn-circle btn-primary btnAvatar" >
                    <span class="glyphicon glyphicon-camera"></span>
                  </button>
                  <% }else{ %>
                    <button data-userGuid="" style="width:100%; height:100%; border:none; overflow:hidden; padding:0px;" class="btn btn-primary btnAvatar" >
                      <img class="avatar-btn" width="100%" src="<%=avaSrc%>"/>
                    </button>
                    <% } %>
                  </div>
                </td>
              </tr>
              <% if(client.qrCloudKey){ %>
              <tr>
                <th style="height:50%; width:80px;vertical-align: middle!important;">Client:</th>
                <td style="height:50%;" class="<%= (['startedTask', 'onSite'].indexOf(homeStatus) === -1)? 'btnChangeClient' : '' %>">
                  <img style="height:30px;" onerror="<%= $.remoteImgFallback('https://az765310.vo.msecnd.net/images/logos/clientLogo_' + client.qrCloudKey + '.jpg') %>" id="<%=client.qrCloudKey%>" class="clientLogoImg" src="images/engineerApp/JPG/clientLogo_<%=client.qrCloudKey%>.jpg" />
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <%
        switch(homeStatus){
          case 'startedTask':
          %>
          <p style="text-align:center;">
            You are currently checked into:<br /><b><%=clientName%> - <%=buildingName%></b>
          </p>
          <p style="text-align:center;">
            Current task is <b><%=client.currentTask.task[0].taskNum%></b>
          </p>
          <p style="text-align:center;">
            <b><%=client.currentTask.beginTime%></b>
          </p>
          <span class="footerUsedToBeHere" style="display:none"></span>
          <%
          break;
          case 'onSite':
          %>
          <div style="text-align:center;padding:10px 1%;border-radius:0px;box-shadow:none;" class="well">
            <p>
              You are currently checked into:<br /><b><%=clientName%> - <%=buildingName%></b>
              <p>Not working on a task</p>
            </p>
            <p>
              <button class="btn btn-primary btn-lg btnScanQR">
                Scan Out
              </button>
            </p>
          </div>

          <span class="footerUsedToBeHere" style="display:none"></span>
          <%
          break;
          default:
          %>
          <div id="homeContainer">
            <div id="divHomeMenu">
              <div class="row homeButtonsrow">
                <% if(client.qrCloudKey){ %>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-xl homeButtons btn-primary" id="btnTelCheckIn">
                      <div class="homeButtonsConatiner">
                        <img src="images/engineerApp/SVG/checkin.svg" height="80px" />
                      </div>
                    </button>
                  </div>
                <% } %>
                <div class="col-md-6">
                  <button type="button" class="btn btn-xl homeButtons btn-primary btnScanQR">
                    <div class="homeButtonsConatiner">
                      <img src="images/engineerApp/SVG/scanqr.svg" height="80px" />
                    </div>
                  </button>
                </div>
                <%
                var QRList='hidden';
                if( $.getAppPermission('QRList') > 0 ||
                (!!client.config && client.config.sharedServicesRemoteCheckIn === 'Y' && localStorage_a.getItem('contractorGUID') === '5D623FF0-7E61-4C90-B14D-B7E8BF7CAF38' ) ){
                  QRList='visible';
                }
                %>
                <div class="col-md-6" style="visibility:<%=QRList%>">
                  <button type="button" class="btn btn-xl homeButtons btn-primary" id="btnListQR">
                    <div class="homeButtonsConatiner">
                      <span class="glyphicon glyphicon-circle-arrow-right" style="font-size:60px"></span>
                    </div>
                  </button>
                </div>
                <%
                var showAllocation='hidden';
                if($.getAppPermission('Allocation')>0){
                  showAllocation='visible';
                }
                %>

                <%
                var showVehicle='hidden';
                if($.getAppPermission('Vehicle')>0){
                  showVehicle='visible';
                }
                %>

                <div class="col-md-6" style="visibility:<%=showVehicle%>">
                  <button type="button" class="btn btn-xl homeButtons btn-primary btnVehicle" >
                    <div class="homeButtonsConatiner">
                      <img src="data:image/svg+xml;base64,<%= vehicleSvg %>" height="80px">
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <span class="footerUsedToBeHere" style="display:none"></span>

          <%
          break;
        }
        %>
      </div>
    </div>
