<div class="xpanel" style="">
    <div class="panel-heading" style="display:block;height:40px;width:100%;background-color:#FFF;background-image:url(https://nodeportal.blob.core.windows.net/images/logos/clientLogo_<%=$.parseClient().qrCloudKey%>.jpg);background-size:auto 40px;background-repeat:no-repeat;background-position:center center;"></div>
    <div class="sectionBody scroll list-group" style="" android:fastScrollEnabled="true">

        <ul class="list-group">
            <div style="padding:10px 0;text-align:center;"> Showing <%= startRow + 1 %> To <%= lastRow %> of <%= maxRow %></div>
            <%
            _.each(qrCodes, function(q, n){
                var qrFunction = "";
                switch (q.f) {
                    case "I" :
                        qrFunction = " - Internal Sticker"
                    break;
                    case "X" :
                        qrFunction = " - External Sticker"
                    break;
                    case "B" :
                        qrFunction = " - Plaque"
                    break;
                }
            %>
                <a class="list-group-item remoteBuildingCheckIn" style="text-align:center;" data-qrGUID="<%=q.qr%>"><%=q.b%> (<%=q.r%>)<%=qrFunction%></a>
            <%
            })
            %>
        </ul>
        <form role="form" class="frmFilterQR">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Filter" id="txtFilterBuilding" autocorrect="off" autocomplete="off" style="width:100%; text-align:center; border:1px solid #DDD; padding:5px;"/>
                    <span class="input-group-btn" >
                        <button class="btn btn-primary" id="filterDont" style="" role="button" type="button" ><span class="glyphicon glyphicon-refresh"></span></button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
