<div class="divMainMenu btn-group-vertical" style="padding-top:40px;width:100%;background-color:#fff;">
  <button id="btnSettings" type="button" class="btn btn-xl btn-success pull-left" style="border-radius:4px;margin-bottom:10px;width:98%;margin-left:1%;">
  	<div style="width:120px;margin: 0 auto;">
  		<img src="images/engineerApp/SVG/settings.svg" height="50px" style="float:left;" /> <p style="float:left;padding:15px 0;text-align:left;margin-left:10px;margin-bottom:0;width:60px;">Settings</p>
  	</div>
  </button>

  <button id="btnPMV" type="button" class="btn btn-xl btn-primary pull-left" style="border-radius:4px;margin-bottom:10px;width:98%;margin-left:1%;">
  	<div style="width:120px;margin: 0 auto;">
  		<span style="font-size:2.6em" class="glyphicon glyphicon-play pull-left"></span><p style="float:left;padding:15px 0;text-align:left;margin-left:10px;margin-bottom:0;width:60px;">PMV Videos</p>
  	</div>
  </button>

  <button id="NbtnHelp" type="button" class="btn btn-xl btn-warning pull-left" style="border-radius:4px;margin-bottom:10px;width:98%;margin-left:1%;">
  	<div style="width:120px;margin: 0 auto;">
  		<img src="images/engineerApp/SVG/help.svg" height="50px" style="float:left;" />
		<p style="float:left;padding:15px 0;text-align:left;margin-left:10px;margin-bottom:0;width:60px;">Help</p>
  	</div>
  </button>

  <button id="btnLogout" type="button" class="btn btn-xl btn-danger pull-left" style="border-radius:4px;width:98%;margin-bottom:10px;margin-left:1%;">
    <div style="width:120px;margin: 0 auto;">
    	<img src="images/engineerApp/SVG/logout.svg" height="50px" style="float:left;" /> <p style="float:left;padding:15px 0;text-align:left;margin-left:10px;margin-bottom:0;width:60px;">Logout</p>
    </div>
  </button>

  <% if(errorLogging === true){ %>
	  <button id="btnSendErrorLog" type="button" class="btn btn-xl btn-info pull-left" style="border-radius:4px;margin-bottom:10px;width:98%;margin-left:1%;">
		<div style="width:120px;margin: 0 auto;">
		  <span style="font-size:2.6em" class="glyphicon glyphicon-envelope pull-left"></span><p style="float:left;padding:15px 0;text-align:left;margin-left:10px;margin-bottom:0;width:60px;">Send log file</p>
		</div>
	  </button>
  <% } %>

</div>
</div>
