<%= headerTmp({ title: 'Odd Job Details', customLeft: 'btnBackToOddJobList', noRight: true }) %>
<ul class="sectionBody scroll list-group">

	<li class="liOJContainer liOJContainer<%=PK_Clip_Key%>">
		<div class="divOJHeader divOJHeader<%=PK_Clip_Key%>">
	  		<div class="list-group">

	  			<div class="list-group-item"><span style="color:#265d7c;">Created by</span><span class="pull-right"><%=Clip_CreatedBy%></span></div>
	  			<div class="list-group-item"><span style="color:#265d7c;">Logged</span><span class="pull-right"><%=createdDate%></span></div>
                <% if(!!docGuid1){ %>
                    <li class="list-group-item list-group-item-default text-center half-pad">
                    	<div id="phoFlex" class="photosFlex">

                    		<div class="square">
                        		<div class="content p_0">
                        			<div class="table tPhoto" >
                                		<div class="table-cell text-center ">
                                			<img class="img-thumbnail" src="https://cloudfmsystems.com/image2/<%=clientGuid%>/<%=docGuid1%>/JPG/300">
                                		</div>
                                	</div>
                                </div>
                    		</div>
                            <% if(!!docGuid2){ %>
                    		<div class="square">
                        		<div class="content p_1">
                        			<div class="table tPhoto">
                                		<div class="table-cell text-center ">
                                		    <img class="img-thumbnail" src="https://cloudfmsystems.com/image2/<%=clientGuid%>/<%=docGuid2%>/JPG/300">
                                		</div>
                                	</div>
                                </div>
                    		</div>

                            <% if(!!docGuid3){ %>
                    		<div class="square">
                        		<div class="content p_2">
                        			<div class="table tPhoto">
                                		<div class="table-cell text-center ">
                                		    <img class="img-thumbnail" src="https://cloudfmsystems.com/image2/<%=clientGuid%>/<%=docGuid2%>/JPG/300">
                                		</div>
                                	</div>
                                </div>
                    		</div>
                            <% }} %>
                    	</div>
                    </li>
                <% } %>
	  			<div class="list-group-item" style="overflow:hidden"><p style="margin-bottom:0px"><%=Clip_Description%></p></div>
	  		</div>
	  	</div>
	 </li>
	 <div class="list-group-item list-group-item-default ojContainer ojContainer<%=PK_Clip_Key%>" style="display:block; margin-top:-1px">
		<form role="form">
				<div class="row" style="">
					<div class="col-xs-4">
						<div style="color:#265d7c; margin-right:10px; margin-bottom:10px; width:100%; text-align:left">Time taken</div>
						<div class="form-group" style="text-align:center;">
							<input class="form-control" type="number" id="ojMins<%=PK_Clip_Key%>" placeholder="Minutes taken" style="" <%= !!mins?'value='+mins:'' %> />
						</div>
					</div>
					<div class="text-center col-xs-8">
                        <% if(!comments){ %>
                            <textarea placeholder="Comments" style="height: 94px;" class="form-control" id="txtOddJobComments<%=PK_Clip_Key%>"></textarea>
                        <% }else{ %>
                            <textarea placeholder="Comments" style="height: 94px;" class="form-control" id="txtOddJobComments<%=PK_Clip_Key%>"><%=comments%></textarea>
                        <% } %>
					</div>
				</div>
				<div class="row">

					<div class="col-xs-12" style="margin-bottom:10px;">
                        <div style="color:#265d7c; margin-right:10px; margin-bottom:10px; width:100%; text-align:left">Job status</div>
						<div class="btn-group-justified" style="border-spacing:5px 0px ; margin:0 -5px; width:auto">
							<div for="open<%=PK_Clip_Key%>" class="input-label btn <%= status==='open'?'btn-success':'btn-default' %>" >
								<input class="ojstatus" style="display:none" type="radio" <%= status==='open'?'checked':'' %> name="status<%=PK_Clip_Key%>" id="open<%=PK_Clip_Key%>" value="open" />Open
							</div>
							<div for="closed<%=PK_Clip_Key%>" class="input-label btn <%= status==='complete'?'btn-success':'btn-default' %>" >
								<input class="ojstatus" style="display:none" type="radio" <%= status==='complete'?'checked':'' %> name="status<%=PK_Clip_Key%>" id="closed<%=PK_Clip_Key%>"  value="complete"/>Complete
							</div>
							<div for="inProgress<%=PK_Clip_Key%>" class="input-label btn <%= status==='inProgress'?'btn-success':'btn-default' %>" >
								<input class="ojstatus" style="display:none" type="radio" <%= status==='inProgress'?'checked':'' %> name="status<%=PK_Clip_Key%>" id="inProgress<%=PK_Clip_Key%>"  value="inProgress"/>In Progress
							</div>
              <div for="Rejected<%=PK_Clip_Key%>" class="input-label btn <%= status==='Rejected'?'btn-success':'btn-default' %>" >
								<input class="ojstatus" style="display:none" type="radio" <%= status==='Rejected'?'checked':'' %> name="status<%=PK_Clip_Key%>" id="Rejected<%=PK_Clip_Key%>"  value="Rejected"/>Reject
							</div>
						</div>

					</div>

				</div>
		</form>
	</div>
    <div class="list-group-item">
        <div class="btn-group-justified" >
            <div class="btn btn-lg btn-default btnSaveOddJob btnSaveOddJob<%=PK_Clip_Key%>" data-oddJobID="<%=PK_Clip_Key%>">Save</div>
        </div>
    </div>
</ul>
