<script type="text/template" id="taskListMain">
<%

var client = $.parseClient();
var homeStatus = '';

if(client){
    var clientName = client.clientName;
    var buildingName = client.buildingCheckIn.buildingName;

    var onSite = $.getOnSiteStatus(client);

    var startedTask = $.getStartedTaskStatus(client);

    if(onSite==1){
        homeStatus='onSite';
    }
    if(startedTask==1){
        homeStatus='startedTask';
    }
}

%>

<div class="xpanel panel-primary">
	<!--<div class="panel-heading">
		<h3 class="panel-title">Available tasks<span class="pull-right"></h3>
	</div>-->
  <%= headerTmp({
    title: "Available tasks",
    noLeft: true,
    noRight: true
  }) %>
  <div class="inline-list-group dont-shrink" style="border-bottom: solid 1px #ddd;">
    <div class="inline-list-group-item list-group-item text-center" >
      <p class="small" >Compliance:</p>
      <div class="cbc">
          <span class="cbcLabel"></span>
          <span class="complianceBuildingChart"></span>
      </div>
    </div>
    <div class="inline-list-group-item inline-list-group list-group-item grow listBtns" >

  	</div>
  </div>


	<div class="sectionBody scroll list-group" style="height:<%=sectionBodyHeight-20%>px; webkit-transform: translate3d(0,0,0);">

		<input type="text" id="txtFilterTask" placeholder="Filter Task Number" type="tel" style="clear:both;display:none;" />

		<div class="col-md-12 text-center loadingTasks" style="height:90%; width:100%; vertical-align:middle; display:inline-block; position:absolute; display:none">
			<span style="font-size: 4em; color:#265D7C; margin-top:<%=(sectionBodyHeight/2)-80%>px;" class="glyphicon glyphicon-refresh rotating"></span>
		</div>
		<div style="padding:9px 10px 10px;" class="listInner">
			<!-- Default panel contents -->

		</div>
	</div>
</div>
</script>
<script type="text/template" id="listInner">
  <%

  taskList = _.filter(taskList, function(t){
  	return(t.taskNum.indexOf(filterText) != -1);
  });

  switch(taskTypeFilter){
  	case 'Reactive':
  		taskList = reactiveCount;
  		break;
  	case 'Quoted':
  		taskList = quotedCount;
  		break;
  	case 'PPM':
  		taskList = ppmCount;
  		break;
  	default:
  		break;
  }

  if(taskList.length==0){
    %>
      <h1 class="nt" style="width:100%; text-align:center; margin-top:100px; display:none">No Tasks Available</h1>
    <%
  } %>
  <% _.each(taskList, function(t) { %>
  <div class="panel panel-primary" style="margin-bottom:15px">
    <div class="panel-heading text-center">
      <h3 class="panel-title"><%=t.taskNum%> / <%=t.disc%></h3>
    </div>
    <div class="panel-body">
    <ul class="list-group tasksUl">
      <li class="list-group-item">
        <% if(t.taskType=='AutoPPM'){ %>
          Due By: <span class="pull-right"><%=moment(t.taskDate).format('D MMMM YYYY')%></span>
        <% } else { %>
          Created: <span class="pull-right"><%=moment(t.taskDate).format('D MMMM YYYY h:mm a')%></span>
        <% } %>
      </li>
      <li class="list-group-item ">
        <strong><%=t.supplier%></strong>
      </li>
      <li class="list-group-item">Task Type: <span class="pull-right"><%=t.taskType%></span></li>
      <li class="list-group-item ">
        <% if(t.taskType=='AutoPPM') { %>
          See task for asset details
        <% } else { %>
          <%=t.taskDesc%>
        <% } %>
      </li>
      <% if( parseInt(t.priorityHrs) !== 0 ){ %>
        <div class="list-group-item <%= new Date(new Date(t.tLoggedDate).getTime() + parseInt(t.priorityHrs)*1000*60*60) > Date.now() ? '' : 'list-group-item-danger' %>">
          <span class="pull-right" style=""> <%= moment(new Date(new Date(t.tLoggedDate).getTime() + parseInt(t.priorityHrs)*1000*60*60) ).utc().format('LLL') %></span> Arrival Expected:
        </div>
        <div class="list-group-item <%= new Date(new Date(t.tLoggedDate).getTime() + parseInt(t.priorityHrs)*1000*60*60) > Date.now() ? '' : 'list-group-item-danger' %>">
          <span class="pull-right" style=""> <%= moment(new Date(new Date(t.tLoggedDate).getTime() + parseInt(t.priorityCompHrs)*1000*60*60) ).utc().format('LLL') %></span> Completion Expected:
        </div>

      <% }else{ %>
        <div class="list-group-item <%= new Date(new Date(t.tTaskDated).getTime() + (23*1000*60*60 ) + (59*1000*60) ) > Date.now() ? '' : 'list-group-item-danger' %>">
          <span class="pull-right" style=""> <%= moment(new Date(new Date(t.tTaskDated).getTime() + (23*1000*60*60 ) + (59*1000*60) ) ).utc().format('LLL') %></span> Task Due:
        </div>
        <% if(t.taskType=='AutoPPM' && !!t.tETA){ %>
          <div class="list-group-item <%= new Date(t.tETA) > Date.now() ? '' : 'list-group-item-danger' %>">
            <span class="pull-right" style=""> <%= moment( new Date(t.tETA ) ).utc().format('LLL') %></span> Committed ETA:
          </div>
        <% } %>
      <% } %>
    </ul>
    <button type="button" class="btn btn-primary btn-md btnLoadTask pull-right" data-taskGuid="<%=t.taskGuid%>">View Task</button>
    </div>
  </div>
  <% }); %>
</script>
<script type="text/template" id="listBtns" >
  <div class="inline-list-group-item grow center-flex">
    <div type="button" class="btn btn-sm btn-primary btnTaskListFilter" data-taskType="Reactive"><span class="badge" style="color:#265D7C;"><%=reactiveCount.length%></span><br />Reactive</div>
  </div>
  <div class="inline-list-group-item grow center-flex">
    <div type="button" class="btn btn-sm btn-primary btnTaskListFilter" data-taskType="Quoted"><span class="badge" style="color:#265D7C;"><%=quotedCount.length%></span><br />Quoted</div>
  </div>
  <div class="inline-list-group-item grow center-flex">
    <div type="button" class="btn btn-sm btn-primary btnTaskListFilter" data-taskType="PPM"><span class="badge" style="color:#265D7C;"><%=ppmCount.length%></span><br />PPM</div>
  </div>
</script>
