<table class="table table-striped table-condensed" style="display:none;table-layout: fixed;font-size:0.8em;">
	<tbody>
<%_.each(myData.data, function(w){%>

<%
	var beginDay;
	var endDay;

	if(moment(w.beginDay).isValid()){
		beginDay = moment(w.beginDay).format('ddd h:mm a');
	} else {
		beginDay = '(NOT SET)';
	}

	if(moment(w.endDay).isValid()){
		endDay = moment(w.endDay).format('ddd h:mm a');
	} else {
		endDay = '(NOT SET)';
	}	
%>
		<tr class="default">
			<th style="width:200px;">Date</th>
			<th>Start Day</th>
			<th>End Day</th>
			<th class="text-right">Start Mileage</th>
			<th class="text-right">End Mileage</th>
			<th class="text-right">Door to Door Mileage</th>
			<th class="text-right">Door to Door Hours</th>
		</tr>
		<tr class="primary">
			<td><%=moment(w.theDate).format('dddd MMM Do YYYY')%></td>
			<td><%=beginDay%></td>
			<td><%=endDay%></td>
			<td class="text-right"><%=w.beginOdometer%></td>
			<td class="text-right"><%=w.endOdometer%></td>
			<td class="text-right"><%=w.derivedMileage%></td>
			<td class="text-right"><%=w.derivedHours%></td>
		</tr>
		<tr id="xtheDate_<%=w.theDate.substr(0,10)%>" style="display:none;">
			<td>&nbsp;</td>
			<td colspan="6" class="visitContainer">&nbsp;</td>
		</tr>
<%});%>
	</tbody>
</table>

<h4>Timesheets</h4>

<style>
	.ClosingStatusFixed {
		width: 165px;
		float: left;
		padding: 0 10px;
		position: absolute;
	}
	.ClosingStatusFulid {
		margin-left: 165px;
		padding-right:10px;
		overflow: hidden;
	}

	/* Signature Pad */
	.sigPad{
	  width:<%=windowWidth%>px;
	}
	.sigWrapper{
	  height:200px;
	  width:<%=windowWidth%>px;
	}
	canvas.pad{
	  height:100px;
	  width:248px;
	}
	.severityButton {
		width:112px;padding:0;position:relative;height:44px;margin-left:5px;
	}
	.severityButtonText {
		float: left;height: 44px;padding: 0;width: 57px;position:absolute;top:-10px;left:14px;
	}
	.severityButtonColor {
		float:right;position:absolute;left:53px;width:20px;height:42px;margin-right:3px;border-radius:5px;top:0;border-top-left-radius:0;border-bottom-left-radius:0;
	}
	.windowWidth {
		width:<%=windowWidth%>px;
	}
	.mainSectionTop {
		width:<%=mainSectionTop%>px;
	}
	.footerSectionHeight {
		width:<%=footerSectionHeight%>px;
	}
	.sectionBodyHeight {
		width:<%=sectionBodyHeight%>px;
	}			
	.sectionBodyInnerWidth {
		width:<%=sectionBodyInnerWidth%>px;
	}
	.swipe {
	  overflow: hidden;
	  visibility: hidden;
	  position: relative;
	}
	.swipe-wrap {
	  overflow: hidden;
	  position: relative;
	}
	.swipe-wrap > div {
	  float:left;
	  width:100%;
	  position: relative;
	}
	body {
	  -moz-user-select: none;
	  -webkit-user-select: none;
	  -ms-user-select: none;
	}
	.m-signature-pad {
	  position: absolute;
	  font-size: 10px;
	  width: 700px;
	  height: 200px;
	  top: 50%;
	  left: 50%;
	  margin-left: -350px;
	  margin-top: -200px;
	  border: 1px solid #e8e8e8;
	  background-color: #fff;
	  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
	  border-radius: 4px;
	}
	.m-signature-pad:before, .m-signature-pad:after {
		position: absolute;
	  z-index: -1;
	  content: "";
		width: 40%;
		height: 10px;
		left: 20px;
		bottom: 10px;
		background: transparent;
		-webkit-transform: skew(-3deg) rotate(-3deg);
		-moz-transform: skew(-3deg) rotate(-3deg);
		-ms-transform: skew(-3deg) rotate(-3deg);
		-o-transform: skew(-3deg) rotate(-3deg);
		transform: skew(-3deg) rotate(-3deg);
		box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
	}
	.m-signature-pad:after {
		left: auto;
		right: 20px;
		-webkit-transform: skew(3deg) rotate(3deg);
		-moz-transform: skew(3deg) rotate(3deg);
		-ms-transform: skew(3deg) rotate(3deg);
		-o-transform: skew(3deg) rotate(3deg);
		transform: skew(3deg) rotate(3deg);
	}
	.m-signature-pad--body {
	  position: absolute;
	  left: 20px;
	  right: 20px;
	  top: 20px;
	  bottom: 60px;
	  border: 1px solid #f4f4f4;
	}
	.m-signature-pad--body canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }
	.m-signature-pad--footer {
	  position: absolute;
	  left: 20px;
	  right: 20px;
	  bottom: 20px;
	  height: 40px;
	}
	.m-signature-pad--footer .description {
    color: #C3C3C3;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1.8em;
  }
  .m-signature-pad--footer .button {
    position: absolute;
    bottom: 0;
  }
  .m-signature-pad--footer .button.clear {
    left: 0;
  }
  .m-signature-pad--footer .button.save {
    right: 0;
  }

  @media screen and (max-width: 1024px) {
	  .m-signature-pad {
	    top: 120px;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: auto;
	    height: 600px;
	    min-width: 250px;
	    min-height: 140px;
	    margin: 5%;
	  }
	  #github {
	  	display: none;
	  }
	}

	@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		.m-signature-pad {
			margin: 10%;
		}
	}

	@media screen and (max-height: 320px) {
	  .m-signature-pad--body {
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 32px;
	  }
	  .m-signature-pad--footer {
	    left: 20px;
	    right: 20px;
	    bottom: 4px;
	    height: 28px;
	  }
	  .m-signature-pad--footer .description {
	    font-size: 1em;
	    margin-top: 1em;
	  }
	}
</style>

<div id="mainSection" style="padding-top:20px;position:fixed;width:100%;top:<%=mainSectionTop%>px;left:0;height:<%=mainSectionHeight%>">
	<div id="myDavid" style="max-width:<%=windowWidth%>px;margin:0 auto;" class="swipe">
		<div class="swipe-wrap">
			<% var tabPage = 0; %>

			/* START OF SWIPE SCREENS */
			
			<%_.each(myData.data, function(w){%>

				<%
					var beginDay;
					var endDay;

					if(moment(w.beginDay).isValid()){
						beginDay = moment(w.beginDay).format('ddd h:mm a');
					} else {
						beginDay = '(NOT SET)';
					}

					if(moment(w.endDay).isValid()){
						endDay = moment(w.endDay).format('ddd h:mm a');
					} else {
						endDay = '(NOT SET)';
					}	
				%>

				<% tabPage = tabPage+1; %>
				<div class="section" style="width:<%=sectionWidth%>px;" data-buttonSet="divRefreshTaskButton">
					<div class="xpanel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title"><%=moment(w.theDate).format('dddd MMM Do YYYY')%><span class="pull-right"><%=tabPage%> / <span class="maxTabs"></span></span></h3>
						</div>
						<div class="sectionBody scroll list-group" style="height:<%=sectionBodyHeight%>px;webkit-transform: translate3d(0,0,0);" android:fastScrollEnabled="true">
							<div class="container" style="display:block;">
							    <div class="row">
							        <div class="col-sm-4"><%=moment(w.theDate).format('dddd MMM Do YYYY')%></div>
							        <div class="col-sm-4">Begin<br/><%=beginDay%><br/>Odo:<%=w.beginOdometer%></div>
							        <div class="col-sm-4">End<br /><%=endDay%><br/>Odo:<%=w.endOdometer%></div>
							    </div>
							    <div id="theDate_<%=w.theDate.substr(0,10)%>" class="row">
							        <div class="col-sm-offset-1 col-sm-11"></div>
							    </div>
							    <div class="row">
							        <div class="col-sm-offset-2 col-sm-2"></div>
							        <div class="col-sm-offset-0 col-sm-2"></div>
							        <div class="col-sm-2"></div>
							        <div class="col-sm-2"></div>
							        <div class="col-sm-2"></div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			<%})%>
			<!-- END OF SWIPE SCREENS -->
		</div>
	</div>
</div>
<!-- <div class="divFooter navbar navbar-default" style="top:<%=footerSectionTop%>px;height:<%=footerSectionHeight%>px;border-bottom: none;border-left: none;border-right: none;border-radius: 0px;box-shadow: none;text-align: center;z-index: 12002;padding: 7px 0;position: fixed;left: 0;bottom: 0;color: #333;width: 100%;">
        <button type="button" class="btnExitMenu btn btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span> Exit</button>
    </div> -->
</div>