/target/
/ExecutionReports/HtmlReport/FailedScreenshots/20170221192638_TC_android_cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221192717_TC_android_cloudfm_003.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221192741_TC_android_cloudfm_004.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221193135_TC_android_cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221193212_TC_android_cloudfm_003.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221193548_TC_android_cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221193822_TC_android_cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221161505_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221161831_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221161835_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221163221_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221164518_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221170548_TC_Cloudfm_002.jpg
/ExecutionReports/ExcelReport/ReportHistory/20170222 141525-TestResult.xls
/ExecutionReports/ExcelReport/ReportHistory/20170222 141611-TestResult.xls
/ExecutionReports/HtmlReport/FailedScreenshots/20170221140218_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221152015_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221152202_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221152341_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221152457_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221152744_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221152942_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221153051_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221153246_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221153413_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221153632_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221154031_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221154310_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221154617_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221154852_TC_Cloudfm_001.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221155307_TC_Cloudfm_002.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221155322_TC_Cloudfm_003.jpg
/ExecutionReports/HtmlReport/FailedScreenshots/20170221160940_TC_Cloudfm_002.jpg
