<div class="xpanel panel-primary" >
	<%= headerTmp({ title: 'Select Type' }) %>
	<div class="sectionBody scroll list-group" style="" >

		<div class="newQRForm col-md-12">
        <br />
        	<% if(!!qrData.b) { %><div class="col-md-6" style="margin-bottom:15px">Building: <%= qrData.b + ' (' + qrData.r + ')' %></div> <% } %>
        	<div class="col-md-6" style="margin-bottom:15px">QR Type:</div>
        	<div class="col-md-6" style="text-align:center">
 			<%
 				var iT = {
 					B: 'Building plaque',
 					X: 'External window sticker',
 					I: 'Internal window sticker',
 					A: 'Asset'
 				};
 			 %>
        		<!-- <div class="btn-group" data-toggle="buttons"> -->
        		  <div class="input-label btn <%= (FA)? 'disabled' : '' %> <%= ( qrData.f != 'B' )? 'btn-default' : 'btn-success' %>" for="B" style="margin-left:10px; margin-bottom:10px; width:175px">
        		  	<input style="display:none" type="radio" name="f" class="f fInput" id="B" value="B" autocomplete="off" <%= ( qrData.f == 'B' )? 'checked' : '' %>>
        		    <%= iT.B %>
        		  </div>
        		  <div class="input-label btn <%= (FA)? 'disabled' : '' %> <%= ( qrData.f != 'X' )? 'btn-default' : 'btn-success' %>" for="X" style="margin-left:10px; margin-bottom:10px; width:175px">
        		  	<input style="display:none" type="radio" name="f" class="f fInput" id="X" value="X" autocomplete="off" <%= ( qrData.f == 'X' )? 'checked' : '' %>>
        		    <%= iT.X %>
        		  </div>
        		  <div class="input-label btn <%= (FA)? 'disabled' : '' %> <%= ( qrData.f != 'I' )? 'btn-default' : 'btn-success' %>" for="I" style="margin-left:10px; margin-bottom:10px; width:175px">
        		  	<input style="display:none" type="radio" name="f" class="f fInput" id="I" value="I" autocomplete="off" <%= ( qrData.f == 'I' )? 'checked' : '' %>>
        		    <%= iT.I %>
        		  </div>
        		  <div class="input-label btn disabled <%= ( qrData.f != 'A' )? 'btn-default' : 'btn-success' %>" for="A" style="margin-left:10px; margin-bottom:10px; width:175px">
        		  	<input style="display:none" type="radio" name="f" class="f fInput" id="A" value="A" autocomplete="off" <%= ( qrData.f == 'A' )? 'checked' : '' %>>
        		  	<%= iT.A %>
        		  </div>

        		<!-- </div> -->

            	<br />
            	<br />
        	</div>
        	<div class="inputToggle" style="<%= ( qrData.f == '' )? 'display:none' : '' %>">
            	<div class="col-md-6" style="margin-bottom:15px" id="instText" ><%= ( !!qrData.f )? 'Is this '+ iT[qrData.f].toLowerCase() +' already installed?' : '' %></div>
            	<div class="col-md-6" style="text-align:center">
	            	<div class="input-label btn <%= ( !qrData.i )? 'btn-default' : 'btn-success' %>" for="y" style="margin-left:10px; margin-bottom:10px; width:175px">
	            		<input class="fInput" type="radio" name="i" id="y" value="1" style="display:none" autocomplete="off" <%= ( qrData.i == 1 )? 'checked' : '' %>>
	            	  Yes
	            	</div>
	            	<div class="input-label btn <%= ( qrData.i )? 'btn-default' : 'btn-danger' %>" for="n" style="margin-left:10px; margin-bottom:10px; width:175px">
	            		<input class="fInput" type="radio" name="i" id="n" value="0" style="display:none" autocomplete="off" <%= ( qrData.i == 0 )? 'checked' : '' %>>
	            	  No
	            	</div>
            	</div>
        	</div>
    	</div>

        <br/>
        <br/>

        <div class="clear"></div>
	</div>
</div>
