<% if ( model.assetGuid !== null ) { %>
	<li class="list-group-item list-group-item-success text-center">
		<h3>Asset successfully submitted to server</h3>
	</li>	
<% } else { %>
	<li class="list-group-item list-group-item-danger text-center">
		<h3>Problem Submitting Asset , probably due to internet connection.<br>
		Please resubmit from main list when connection availble</h3>
	</li>
<% } %>

<li class="list-group-item  text-center">
	<button class="btn btn-block btn-lg btn-lg text-center btn-success backToMain"> 
		<h3>Tag another Asset </h3>
	</button>
</li>
<!-- <li class="list-group-item">
	<% _.each( model.photos, function( p ) { %>
		<img class="img-thumbnail" src="<%=p.imageURI%>" style="width : <%= 100/ p.length%>%;height : <%= 100/ p.length%>%">
	<% } ) %>
</li> -->



