<script type="text/template" id="assetDetailsMain">
    <ul class="list-group details-inner">

    </ul>
    <div class="list-group-item text-center half-pad assetDetailsPhotos" style="border-width:0; "></div>
</script>

<script type="text/template" id="assetDetails0">
    <li class="list-group-item">
        Asset name  <span class="pull-right"><%=a.AS_NAME%></span>
    </li>
    <li class="list-group-item">
        Manufacturer  <span class="pull-right"><%=a.AS_MANUFACTURER%></span>
    </li>
    <li class="list-group-item">
        Model  <span class="pull-right"><%=a.AS_MODEL_TYPE%></span>
    </li>
    <li class="list-group-item">
        Serial No  <span class="pull-right"><%=a.AS_SERIAL_NUM%></span>
    </li>
    <li class="list-group-item">
        Created By   <span class="pull-right"><%=a.AS_CreatedBy%></span>
    </li>
    <li class="list-group-item">
        Created on   <span class="pull-right"><%=moment(a.AS_CreatedDate).format('lll')%></span>
    </li>
</script>
<script type="text/template" id="assetDetails1">
    <li class="matesqueCon list-group-item">
        <span class="matesque">Asset name</span>
        <input placeholder="Asset name" class="form-control matesquei" type="text" name="AS_NAME" id="AS_NAME" <%= !!a.AS_NAME? 'value="'.concat(a.AS_NAME, '"') : '' %> />
    </li>
    <li class="matesqueCon list-group-item">
        <span class="matesque">Manufacturer</span>
        <input placeholder="Manufacturer" class="form-control matesquei" type="text" name="AS_MANUFACTURER" id="AS_MANUFACTURER" <%= !!a.AS_MANUFACTURER? 'value="'.concat(a.AS_MANUFACTURER, '"') : '' %> />
    </li>
    <li class="matesqueCon list-group-item">
        <span class="matesque">Model</span>
        <input placeholder="Model" class="form-control matesquei" type="text" name="AS_MODEL_TYPE" id="AS_MODEL_TYPE" <%= !!a.AS_MODEL_TYPE? 'value="'.concat(a.AS_MODEL_TYPE, '"') : '' %> />
    </li>
    <li class="matesqueCon list-group-item">
        <span class="matesque">Serial No</span>
        <input placeholder="Serial No" class="form-control matesquei" type="text" name="AS_SERIAL_NUM" id="AS_SERIAL_NUM" <%= !!a.AS_SERIAL_NUM? 'value="'.concat(a.AS_SERIAL_NUM, '"') : '' %> />
    </li>
    <li class="list-group-item">
        Created By   <span class="pull-right"><%=a.AS_CreatedBy%></span>
    </li>
    <li class="list-group-item">
        Created on   <span class="pull-right"><%=moment(a.AS_CreatedDate).format('lll')%></span>
    </li>
</script>
