<script type="text/template" id="state1">
	<ul class="list-group addPad" style="margin-bottom: 0;">
		<li class="list-group-item" >
			<h4>
				Tagged assets for <%= building %>
			</h4>
		</li>
		<li class="list-group-item list-group-item-default">
			<h4>Search</h4>
		</li>
		<li class="matesqueCon list-group-item filterList">
			<span class="matesque">Serial No.</span>
			<input placeholder="Serial No." class="form-control matesquei" type="text" name="AS_SERIAL_NUM" id="AS_SERIAL_NUM" />

			<span class="matesque">Manufacturer</span>
			<input placeholder="Manufacturer" class="form-control matesquei" type="text" name="AS_MANUFACTURER" id="AS_MANUFACTURER" />

			<span class="matesque">Location</span>
			<input placeholder="Location" class="form-control matesquei" type="text" name="locationString" id="locationString" />
		</li>
	</ul>
	<ul class="list-group assetList">

	</ul>

</script>
<script type="text/template" id="assetStub">
	<li class="list-group-item list-group-item-default assHead btnAssDeets">
		<span style="vertical-align: middle">
			<%= AS_NAME %>
		</span>
		<span style="vertical-align: middle" class="pull-right">
            <span style="vertical-align: middle" class="small">Choose asset / See photos</span>
            <span style="vertical-align: middle" class="glyphicon glyphicon-chevron-right"></span>
        </span>
	</li>
	<li class="list-group-item posRel assBody">
		<div>
			<p>
				Serial No.: <%= AS_SERIAL_NUM %>
			</p>
			<p>
				Model: <%= AS_MODEL_TYPE %>
			</p>
			<p>
				Manufacturer: <%= AS_MANUFACTURER %>
			</p>

			<hr />
			<p>
				Location: <%= locationString %>
			</p>
			<hr />
			<p>
				Created by: <%= AS_CreatedBy %> on
				<%= moment(AS_CreatedDate).format('DD/MM/YYYY') %>
			</p>
		</div>
		<div class="assPics">
            <div class="pics">

            </div>
            <div class="btn-group-justified" >
                <div class="assPicker btn btn-success">
                    Choose asset
                </div>
            </div>
		</div>
	</li>

</script>
