<div class="xpanel panel-primary">

	<%= headerTmp({ title: 'Allocated Visits' }) %>

	<div class="sectionBody scroll list-group divAllocatedVisitsContainer" >
		<ul class="list-group">
			<li class="list-group-item" style="border-radius:0px;">						
				<div class="container fluid" style="padding:10px;">
					<%
						if(currentTask.task[0].taskStatus!=='Cancelled'&&currentTask.task[0].taskStatus!=='Complete'&&currentTask.task[0].taskStatus!=='QuoteRequired'){
							%>
								<button class="btn btn-md btn-success pull-right btnArrangeVisit" data-taskGuid="<%=$.getCurrentTaskGuid()%>">Arrange Visit</button>
							<%
						}
					%>
					<div class="divEngineerList"></div>
				</div>						
			</li>
		<% _.each(allocatedVisits, function(v) { %>
			<li class="list-group-item" style="border-radius:0px;">
				<%
					if(v.engineerGuid){
						%>
						<img height="60px;" src="https://admin.icloudfm.net/images/rmtThumbnails/<%=v.engineerGuid%>.jpg" class="thumbnail pull-left" style="margin-right:10px;" /><%=v.engineerName%><br />
						<%
					}
				%>
				<%=moment(v.etaDate).format('dddd MMMM Do YYYY, h:mm:ss a')%>
				<div class="container fluid" style="padding:10px;">
					<button class="btn btn-md btn-danger pull-right btnCancelVisit" data-resGuid="<%=v.resGuid%>">Cancel Visit</button>
				</div>
			</li>
		<% }); %>

		</ul>
	</div>
</div>