<script type="text/template" id="main">
  <div class="xpanel panel-primary asset">
    <style>
      .left-list-icon{

      }
    </style>
    <%= headerTmp({ title: 'Asset Tags' }) %>

    <div class="sectionBody scroll list-group" style="">
    </div>
  </div>
</script>

<script type="text/template" id="sectionBodyInner">
    <div class="list-group-item" style="font-weight:bold">
      Please tap one of the options below
    </div>
    <% if(['PPM', 'AutoPPM'].indexOf(currentTask.task[0].taskType) === -1){ %>
      <% if(servicingAsset !== '') { %>
        <li class="inline-list-group list-group-item list-group-item-<%= servicingAsset !== 0 ? 'success' : 'warning' %>">
          <div class="list-group-item inline-list-group-item valignFlexColCon" style="width:4.2em; min-height:4.2em; text-align:center; padding:10px 8px">
            <% if(servicingAsset === 0){ %>
              <span style="font-size:2em" class="glyphicon glyphicon-ban-circle"></span>
            <% }else{ %>
              <span style="font-size:2em" class="glyphicon glyphicon-wrench"></span>
            <% } %>
          </div>
          <div class="list-group-item inline-list-group-item valignFlexColCon grow" style="padding-left: 5px;">
            <% if(servicingAsset === 0){ %>
              There is no QR labeled asset for this task
            <% }else{ %>
              You are now working on <%= servicingAsset %>
            <% } %>
          </div>
          <div class="list-group-item inline-list-group-item valignFlexColCon">
            <div class="btn btn-sm btn-<%= servicingAsset !== 0 ? 'success' : 'warning' %> removeTaskAsset inverted" >
              <span style="vertical-align: middle" class="">Rescan</span>
              <span style="vertical-align: middle" class="glyphicon glyphicon-remove" ></span>
            </div>
          </div>
        </li>
      <% } else { %>

        <li class="inline-list-group list-group-item list-group-item-default scanAsset no-pad">
          <div class="list-group-item inline-list-group-item valignFlexColCon" style="width:4.2em; min-height:4.2em; text-align:center; padding:10px 8px">
            <span style="font-size:2em" class="glyphicon glyphicon-qrcode"></span>
          </div>
          <div class="list-group-item inline-list-group-item valignFlexColCon grow" style="padding-left: 5px">
            Scan the asset QR code for this task to carry out works
          </div>
          <div class="list-group-item inline-list-group-item valignFlexColCon">
            <span class="glyphicon glyphicon-chevron-right" style="margin-top:-2px" ></span>
          </div>
        </li>
        <li class="inline-list-group list-group-item noTaskAsset list-group-item-default no-pad">
          <div class="list-group-item inline-list-group-item valignFlexColCon" style="width:4.2em; min-height:4.2em; text-align:center; padding:10px 8px">
            <span style="font-size:2em" class="glyphicon glyphicon-ban-circle"></span>
          </div>
          <div class="list-group-item inline-list-group-item valignFlexColCon grow" style="padding-left: 5px">
            The asset for this task does not have a QR code
          </div>
          <div class="list-group-item inline-list-group-item valignFlexColCon">
            <span class="glyphicon glyphicon-chevron-right" style="margin-top:-2px" ></span>
          </div>
        </li>
      <% } %>
    <% } %>

    <li class="inline-list-group list-group-item scanAsset no-pad">
      <div class="list-group-item inline-list-group-item valignFlexColCon" style="width:4.2em; min-height:4.2em; text-align:center; padding:10px 8px">
        <div style="display:inline; line-height:2em;">
          <span style="font-size: 1.8em; vertical-align: middle" class="glyphicon glyphicon-qrcode"></span>
          <span style="font-size: 1.2em; vertical-align: super; margin-left:-.05em">*</span>
        </div>
      </div>
      <div class="list-group-item inline-list-group-item valignFlexColCon grow" style="padding-left: 5px">
        Scan a QR code and register a new asset
      </div>
      <div class="list-group-item inline-list-group-item valignFlexColCon">
        <span class="glyphicon glyphicon-chevron-right" style="margin-top:-2px" ></span>
      </div>
    </li>
    <li class="inline-list-group list-group-item transferAssetData no-pad">
      <div class="list-group-item inline-list-group-item valignFlexColCon" style="width:4.2em; min-height:4.2em; text-align:center; padding:10px 8px">
        <div class="" style="font-size:.5em; line-height:2em; display:inline-block; white-space:nowrap">
          <span style="font-size: 1.8em; line-height:1em; vertical-align: middle;" class="glyphicon glyphicon-qrcode"></span>
          <span style="font-size: 1.3em; line-height:1.8em; vertical-align: top;" class="glyphicon glyphicon-arrow-right"></span>
          <span style="font-size: 1.8em; line-height:1em; vertical-align: middle;" class="glyphicon glyphicon-qrcode"></span>
          <span style="font-size: 1.8em; line-height: 1em; vertical-align: super;">*</span>
        </div>
      </div>
      <div class="list-group-item inline-list-group-item valignFlexColCon grow" style="padding-left: 5px">
        Replace a damaged or missing QR code
      </div>
      <div class="list-group-item inline-list-group-item valignFlexColCon">
        <span class="glyphicon glyphicon-chevron-right" style="margin-top:-2px" ></span>
      </div>
    </li>
    <ul class="list-group assetList">

    </ul>
</script>

<script type="text/template/section" id="assetDetailsPanel">
  <%= $.headerTmp({
        title: 'Asset Details',
        noRight: true,
        customLeft: 'backToMain'
    }) %>
    <div id="assetDetails" class="sectionBody scroll list-group"></div>
</script>
<script type="text/template/section" id="transferAsset">
  <%= $.headerTmp({
		title: 'Transfer Asset Data',
		noRight: true,
		customLeft: 'backToMain'
	}) %>
    <div id="transferAsset" class="sectionBody scroll fullHeight"></div>
</script>
<script type="text/template/section" id="pickAsset">
  <%= $.headerTmp({
		title: 'Building Assets',
		noRight: true,
		customLeft: 'backToMain'
	}) %>
    <div id="pickAsset" class="sectionBody scroll fullHeight"></div>
</script>
<script type="text/template/section" id="createAsset">
  <%= $.headerTmp({
		title: 'Create Asset',
		noRight: true,
		customLeft: 'backToMain'
	}) %>
    <div id="createAsset" class="sectionBody scroll list-group"></div>
</script>
<script type="text/template/section" id="assetPhotos">
  <%= $.headerTmp({
		title: 'Asset Photos',
		noRight: true,
		customLeft: 'backToCreateAsset'
	}) %>
    <div id="assetPhotos" class="sectionBody scroll list-group"></div>
</script>
