<script type="text/template" id="main">
  <div class="documentList xpanel panel-primary">
    <%= headerTmp({ title: 'Documents' }) %>
      <div class="sectionBody scroll list-group divDocumentListContainer standardFlexColCon">
        <div class="standardFlexColRowGrow posRel">
          <span class="text-primary glyphicon glyphicon-refresh rotating absoluteSpinner"></span>
        </div>
      </div>
  </div>

  <div class="xpanel panel-primary divAddDocument2" style="display:none;">
    <%= headerTmp({ title: 'Upload Document', customLeft:'btnCloseDocument', noRight: true }) %>
      <div class="sectionBody scroll list-group standardFlexColCon">
        <div class="list-group-item text-center standardFlexColRow" style="padding:4px;">
          <div class="btn-group">
            <div class="btn btnDocType" id="Worksheets" >Work Sheets</div>
            <div class="btn btnDocType" id="ComplianceCerts" >Compliance Certs</div>
            <div class="btn btnDocType" id="Quote" >Quote</div>
            <div class="btn btnDocType" id="RAMS" >RAMS</div>
          </div>
        </div>
        <div class="list-group-item list-group-item-default text-center standardFlexColRow">Document Description</div>
        <div class="list-group-item standardFlexColRow">
          <form id="frmUpload" enctype="multipart/form-data" method="post" autocomplete="off">
            <input type="hidden" id="hidDocType" name="DOC_Type" value="" />
            <input type="text" id="DOC_Desc" name="DOC_Desc" class="form-control" placeholder="">
          </form>
        </div>

        <div id="documentPreviewContainer" class="list-group-item standardFlexColRowGrow standardFlexColCon" style="display: none;">
          <img style="display:none" class="img-thumbnail" id="documentUploadPreview">
          <div style="height: 100%; display:none" class="standardFlexColRowGrow standardFlexColCon" id="documentUploadPreviewDiv"></div>
        </div>

      </div>

  </div>
  <div id="docFull" class="xpanel panel-primary" style="display:none">

  </div>
</script>
