<script type="text/template" id="main" >
    <div class="xpanel panel-primary">

    	<%= headerTmp({ title: 'Event History' }) %>

    	<div class="sectionBody scroll list-group">
    			<% if(events.length){ %>
    				<% _.each(events, function(taskEvent) { %>
    					<div class="list-group-item list-group-item-default">
    						<small><span class="pull-right"> <%=taskEvent.dT%> </span> <%=taskEvent.crBy%> </small>
    					</div>
    					<div class="list-group-item">
    						<%=taskEvent.dsc%>
    					</div>
    				<% }); %>
    			<% }else{ %>
    				<h1 style="width:100%; text-align:center; margin-top:100px;">No event notes for this task</h1>
    			<% } %>
    	</div>
    </div>
</script>
