<script type="text/template" id="FGasMain">
	<div class="xpanel panel-primary">
		<%= headerTmp({ title: 'Add F-Gas Data', noRight: true, customLeft:'cancel' }) %>
		<div class="sectionBody scroll" >
			<ul id="fgasul" class="list-group relKids" style="">

			</ul>
		</div>
	</div>
</script>

<script type="text/template" id="FGasControl">
	<div class="xpanel panel-primary">
		<%= headerTmp({ title: 'F-Gas' }) %>
		<div class="sectionBody scroll list-group">
            <div class="list-group-item list-group-item-default text-center" >
                Did this task involve addition/removal of refrigerant gas?
            </div>
            <div class="list-group-item text-center yesNoRadio yesNoRadioPrimary">
                <input value="1" name="fGas" id="fGasY" type="radio" <%= [1,2].indexOf(fgs) === -1? '' : 'checked' %>>
                <div style="width:40%" class="input-label btn btn-lg btn-default <%= [2].indexOf(fgs) === -1? '' : 'disabled' %>" style="">Yes</div>
                <input value="3" name="fGas" id="fGasN" type="radio" <%= [3].indexOf(fgs) === -1? '' : 'checked' %> >
                <div style="width:40%" class="input-label btn btn-lg btn-default <%= [2].indexOf(fgs) === -1? '' : 'disabled' %>" style="" >No</div>
            </div>
			<div class="fgbegin list-group-item text-center" style="border-bottom:none; <%= [1,2].indexOf(fgs) === -1? 'display: none;' : '' %>">
				<button class="btn btn-lg btn-primary fGasBegin text-center" style="width:150px;height:150px;">
					<span style="" class="fgasSymbol"></span>
					<!--F-Gas-->
				</button>
				<br/>
				<br/>
				<b>
					<p>
						Click the button above to add F-Gas Data
					</p>
				</b>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="FGasQs" >

	<li class="matesqueCon list-group-item list-group-item-default">
		<!--<span class="pull-left">Serial No</span>-->
		<div class="autoCon">
			<span class="matesque">Serial No</span>
			<input placeholder="Serial No" class="form-control matesquei autoSg" type="text" name="FGAS_SerNo" id="FGAS_SerNo" />
			<span class="autoSuggest"></span>
		</div>
		<div class="btn-group-justified" style="margin-top:10px">
			<div class="btn-group">
				<button class="btn-info btn disabled fillData">Fill Data</button>
			</div>

		</div>
	</li>

	<li class="matesqueCon list-group-item list-group-item-default">
		<!--<span class="pull-left">Asset</span>-->
		<div class="autoCon">
			<span class="matesque">Asset</span>
			<input placeholder="Asset" class="form-control matesquei autoSg" type="text" name="FGAS_Man_Asset" id="FGAS_Man_Asset" />
			<span class="autoSuggest"></span>
		</div>
	</li>

	<li class="matesqueCon list-group-item list-group-item-default">
		<!--<span class="pull-left">Asset Loc</span>-->
		<div class="autoCon">
			<span class="matesque">Asset Loc</span>
			<input placeholder="Asset Loc" class="form-control matesquei autoSg" type="text" name="FGAS_Man_AssetLoc" id="FGAS_Man_AssetLoc" />
			<span class="autoSuggest"></span>
		</div>
	</li>

	<li class="matesqueCon list-group-item list-group-item-default">
		<!--<span class="pull-left">Manufacturer</span>-->
		<div class="autoCon">
			<span class="matesque">Manufacturer</span>
			<input placeholder="Manufacturer" class="form-control matesquei autoSg" type="text" name="FGAS_Manufacturer" id="FGAS_Manufacturer" />
			<span class="autoSuggest"></span>
		</div>
	</li>

	<li class="matesqueCon list-group-item list-group-item-default">
		<!--<span class="pull-left">Model No</span>-->
		<div class="autoCon">
			<span class="matesque">Model No</span>
			<input placeholder="Model No" class="form-control matesquei autoSg" type="text" name="FGAS_ModelNo" id="FGAS_ModelNo" />
			<span class="autoSuggest"></span>
		</div>
	</li>

	<li class="matesqueCon list-group-item list-group-item-default">
		<div class="autoCon">
			<span >Refrigerant Type</span>
      <select name="FGAS_Refrigerant" id="FGAS_Refrigerant" class="form-control">
          <option value="">
              Please select
          </option>
          <option value="R404">
              R404
          </option>
          <option value="R404a">
              R404a
          </option>
          <option value="R410A">
              R410A
          </option>
          <option value="R134a">
              R134a
          </option>
          <option value="R407c">
              R407c
          </option>
          <option value="R22">
              R22
          </option>
          <option value="R32">
              R32
          </option>
      </select>
			<!--<input placeholder="Refrigerant Type" class="form-control matesquei autoSg" type="text" name="FGAS_Refrigerant" id="FGAS_Refrigerant" />
			<span class="autoSuggest"></span>-->
		</div>
	</li>

	<li class="matesqueCon list-group-item">
		<!--<span class="pull-left">Current Charge ?</span>-->
		<span class="matesque">Charge</span>
		<div class="input-group matesquei">
			<input placeholder="Charge" class="form-control" type="number" name="FGAS_CurrentCharge" id="FGAS_CurrentCharge" />
			<span class="input-group-addon">Kg</span>
		</div>
	</li>

	<li class="matesqueCon list-group-item yesNoRadio">
		<!--<span class="pull-left">Leak Checked?</span>-->
		<div>
			<span style="width:50%; display:inline-block; text-align:left">Leak Checked?</span>
			<div class="btn-group-justified" style="">
				<input value="Yes" name="FGAS_LeakChecked" id="FGAS_LeakCheckedY" type="radio">
				<div class="input-label btn btn-default" for="FGAS_LeakCheckedY"><span style="visibility:visible;" class="glyphicon glyphicon-ok"></span>&nbsp;yes</div>
				<input value="No" name="FGAS_LeakChecked" id="FGAS_LeakCheckedN" type="radio">
				<div class="input-label btn btn-default" for="FGAS_LeakCheckedN"><span style="visibility:visible;" class="glyphicon glyphicon-remove"></span>&nbsp;no</div>
			</div>
		</div>
	</li>

	<li class="matesqueCon list-group-item yesNoRadio nobottom">
		<div>
			<span style="width:50%; display:inline-block; text-align:left">Added Gas?</span>
			<div class="btn-group-justified" style="">
				<input value="Yes" name="FGAS_AddedGas" id="FGAS_AddedGasY" type="radio">
				<div class="input-label btn btn-default" for="FGAS_AddedGasY"><span style="visibility:visible;" class="glyphicon glyphicon-ok"></span>&nbsp;yes</div>
				<input value="No" checked="" name="FGAS_AddedGas" id="FGAS_AddedGasN" type="radio">
				<div class="input-label btn btn-default" for="FGAS_AddedGasN"><span style="visibility:visible;" class="glyphicon glyphicon-remove"></span>&nbsp;no</div>
			</div>
		</div>
	</li>

	<li class="matesqueCon list-group-item nobottom ad disabled" style="padding-top:10px;">
		<span class="matesque">Qty</span>
		<div class="input-group matesquei">
			<input placeholder="Qty" class="form-control" type="number" name="FGAS_AddedQty" id="FGAS_AddedQty" />
			<span class="input-group-addon">Kg</span>
		</div>
	</li>

	<li class="matesqueCon list-group-item nobottom ad disabled">
		<span class="matesque">Cyl Ser No</span>
		<input placeholder="Cyl Ser No" class="form-control matesquei" type="text" name="FGAS_AddCylSerNo" id="FGAS_AddCylSerNo" />
	</li>
  <li class="matesqueCon list-group-item ad disabled">
      <span class="matesque">Cyl Refrigerant Type</span>
      <select name="FGAS_AddCylRefrigerant" id="FGAS_AddCylRefrigerant" class="form-control matesquei">
          <option value="">
              Cyl Refrigerant Type
          </option>
          <option value="R404">
              R404
          </option>
          <option value="R404a">
              R404a
          </option>
          <option value="R410A">
              R410A
          </option>
          <option value="R134a">
              R134a
          </option>
          <option value="R407c">
              R407c
          </option>
          <option value="R22">
              R22
          </option>
          <option value="R32">
              R32
          </option>
      </select>
	</li>
	<li class="matesqueCon list-group-item yesNoRadio nobottom">
		<div>
			<span style="width:50%; display:inline-block; text-align:left">Removed Gas?</span>
			<div class="btn-group-justified" style="">
				<input value="Yes" name="FGAS_RemovedGas" id="FGAS_RemovedGasY" type="radio">
				<div class="input-label btn btn-default" for="FGAS_RemovedGasY"><span style="visibility:visible;" class="glyphicon glyphicon-ok"></span>&nbsp;yes</div>
				<input value="No" checked="" name="FGAS_RemovedGas" id="FGAS_RemovedGasN" type="radio">
				<div class="input-label btn btn-default" for="FGAS_RemovedGasN"><span style="visibility:visible;" class="glyphicon glyphicon-remove"></span>&nbsp;no</div>
			</div>
		</div>
	</li>

	<li class="matesqueCon list-group-item nobottom rm disabled" style="padding-top:10px;">
		<span class="matesque">Qty</span>
		<div class="input-group matesquei">
			<input placeholder="Qty" class="form-control" type="number" name="FGAS_RemoveQty" id="FGAS_RemoveQty" />
			<span class="input-group-addon">Kg</span>
		</div>
	</li>

	<li class="matesqueCon list-group-item nobottom rm disabled">
		<span class="matesque">Cyl Ser No</span>
		<input placeholder="Cyl Ser No" class="form-control matesquei" type="text" name="FGAS_RemCylSerNo" id="FGAS_RemCylSerNo" />
	</li>

  <li class="matesqueCon list-group-item rm disabled">
      <span class="matesque">Cyl Refrigerant Type</span>
      <select name="FGAS_RemCylRefrigerant" id="FGAS_RemCylRefrigerant" class="form-control matesquei">
          <option value="">
              Cyl Refrigerant Type
          </option>
          <option value="R404">
              R404
          </option>
          <option value="R404a">
              R404a
          </option>
          <option value="R410A">
              R410A
          </option>
          <option value="R134a">
              R134a
          </option>
          <option value="R407c">
              R407c
          </option>
          <option value="R22">
              R22
          </option>
          <option value="R32">
              R32
          </option>
      </select>
	</li>

</script>
