<script type="text/template" id="main">
    <div class="xpanel panel-primary">
    	<%= headerTmp({ title: 'Meter Readings' }) %>
    	<div class="sectionBody scroll" >
    		<ul class="list-group" style="">
    			<% _.each(meterReadings, function(mr) { %>
    				<li class="list-group-item" style="border-radius:0px;">
    					<span class="pull-left"><%=mr.meterReadingTypeName%></span>
    					<input type="number" placeholder="Enter value" class="txtMeterReadingValue txtMeterReadingID<%=mr.meterReadingID%> form-control pull-right" data-meterReadingID="<%=mr.meterReadingID%>" />
    					<div class="clear"></div>
    				</li>
    			<% }); %>
    			<!--<div class="list-group-item">
    				<div class="btn btn-success" style="display:none;" id="spnMeterReadingsSaved">Thank you. Meter readings have been saved to device.</div>
    			</div>-->

    		</ul>

    	</div>
    </div>
</script>
