<div id="" class="xpanel panel-primary" >
	<%= headerTmp({	title: 'Next visit note' }) %>
	<div class="sectionBody scroll list-group standardFlexColCon" style="">
		<li class="list-group-item list-group-item-default standardFlexColRow">
			Please provide details if applicable
		</li>
		<li class="list-group-item standardFlexColRowGrow posRel" style="min-height: 200px;">
      <div class="standardFlexColRowFiller">
		    <textarea class="form-control h100 nextVisitNote" style="resize:none;" ></textarea>
      </div>
		</li>
		<% if( ['android', 'windows'].indexOf(window.device.platform.toLowerCase()) === -1 ){ %>
		<div class="list-group-item list-group-item-default standardFlexColRow small" style="border-bottom-width:0px">
			By placing the cursor in the above text box, your keypad will appear.  If your keypad has a microphone symbol ( <span class="micSymbol"></span> ), by pressing this symbol, you can use your devices speech facility and then dictate your closure notes and see the text appear in the box above.
		</div>
		<% } %>
		<!--<li class="list-group-item">
			<button class="btn btn-block btn-success btn-lg saveNote"> Save Note </button>
		</li>-->
	</div>
</div>
