<script type="text/template" id="RiskAssessmentSlide">
		<div class="xpanel panel-primary" id="hs" data-buttonSet="divRiskAssessment" >
		<%= headerTmp({ title: 'Risk Assessment' }) %>
		<div class="sectionBody scroll" id="riskcon" style=" webkit-transform: translate3d(0,0,0);" android:fastScrollEnabled="true">
			<div class="list-group-item list-group-item-default" style="text-align:center;">Please give your assessment on all of the criteria below to begin the task.</div>

			<% _.each(qs, function(ob, id){ %>
			<div class="list-group-item list-group-item-transparent row-same-height" style="">
				<div data-taskRisk="" class="q taskRisk col-sm-8 col-xs-12 col-sm-height col-full-height" >
						<div style="width:100%; text-align:left">
							<%= ob.text %>
						</div>
				</div>
				<div class="ans taskRisk text-center col-sm-4 col-xs-12 col-sm-height col-full-height">
					<div class="btn-group-justified" style="border-spacing:5px 0px; margin:6px -5px; width:auto" >

						<input
              class="dc<%=ob.correct%>"
              type="radio"
              value="1"
              <%= parseInt(ob.value) === 1 ? 'checked' : '' %> name="<%=ob.name%>"
              id="<%=ob.name%>y"
              data-correct="<%=ob.correct%>"
            />
						<div class="btn btn-default btn-lg input-label" ><span style="visibility:visible;" class="glyphicon glyphicon-ok"></span>&nbsp;yes</div>

						<input type="radio"
              class="dc<%=ob.correct%>"  
              value="0"
              <%= parseInt(ob.value) === 0 ? 'checked' : '' %> name="<%=ob.name%>"
              id="<%=ob.name%>n"
              data-correct="<%=ob.correct%>"
            />
						<div class="btn btn-default btn-lg input-label" ><span style="visibility:visible;" class="glyphicon glyphicon-remove"></span>&nbsp;no</div>

					</div>
				</div>
				<div class="clear"></div>
			</div>
			<% })%>
			<div class="deferTaskReason" >
				<textarea type="text" placeholder="Enter text here to specify your reason for deferring this task ..." style="width:100%;padding:2%;resize:none;border-style:none; border:1px solid #f8f8f8; height:120px; display:none" id="deferTaskReason" name="deferTaskReason"></textarea>
				<button class="deferTaskBtn" type="submit" style="display:none" />
			</div>
		</div>
	</div>
</script>
