<script type="text/template" id="main">
    <div id="sigDisplay" class="xpanel panel-primary">
    	<%= headerTmp({ title: 'Signature' }) %>
    	<div class="sectionBody scroll list-group" >
    		<div style="text-align:center">

    			<%
    				try{
    					if(currentTask.finishTask.sigData && currentTask.finishTask.signatory ){
    						%>
    							<h4 id="h4Signatory">Signed off by: <%try{if(currentTask.finishTask.signatory)print(currentTask.finishTask.signatory);} catch(e){}%></h4>
    							<img id="imgSigData" width="50%" src="<%try{if(currentTask.finishTask.sigData)print(currentTask.finishTask.sigData);} catch(e){}%>" />

    						<%
    					} else {
    						%>
    						<h4 id="h4Signatory">Tap <em><strong>Get Signature</strong></em> to aquire a signature from the client representative</h4>
    							<img id="imgSigData" width="50%" src="" style="display:none;" />
    						<%
    					}
    				} catch(e){
    					%>
    							<h4 id="h4Signatory">Tap <em><strong>Get Signature</strong></em> to aquire a signature from the client representative</h4>
    							<img id="imgSigData" width="50%" src="" style="display:none;" />
    					<%
    				}

    			%>
    		</div>
    	</div>
    </div>
</script>

<script type="text/template/section" id="divSignatory">
  <%= headerTmp({ title: 'Signature', noLeft: true, noRight:true }) %>
  <div class="sectionBody scroll list-group standardFlexColCon" >
    <div class="form-group list-group-item standardFlexColRow">
      <label for="txtSignatory">Client representative's signature</label>
      <input type="text" class="form-control" id="txtSignatory" placeholder="Enter the name of the person signing this document" style="width:100%;" value="<%try{if(currentTask.finishTask.signatory)print(currentTask.finishTask.signatory);} catch(e){}%>"/>
    </div>
    <div class="list-group-item standardFlexColRowGrow standardFlexColCon">
      <div id="signature-pad" class="m-signature-pad standardFlexColRowGrow" style="z-index:30000;">
        <div class="m-signature-pad--body" style="">
          <canvas>

          </canvas>
        </div>
        <div class="m-signature-pad--footer">
          <div class="description">Sign above</div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

  </div>
</script>
