<% _.each( engineerList , function( e ) { %>
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-1 col-xs-4 text-center">
            <% if( !!e.mobileGuid ) { %>
                <img data-engGuid='<%=e.mobileGuid%>' class="img-circle eng" src="https://cloudfmsystems.com/avatar/<%=e.avatarGuid%>.jpg" width="80px" height="80px">
            <% } %>
            </div>
            <div class="col-md-11 col-xs-8 vcenter" style="padding-left: 0px;">
                <span>
                    <strong><%=e.firstname + ' ' + e.surname%></strong>
                    <span class="pull-right badge"> <%!!e.todayHours && print(e.todayHours+ '  h')%></span> <br>
                </span>
                <span>
                    Mobile
                    <span class="pull-right"><%=e.mobile%></span> <br>
                </span>

                <span>
                    Start / End Day
                    <span class="pull-right"><%!!e.beginTime && print( e.beginTime ) %>  -   <% !!e.endTime && print( e.endTime )%></span> <br>
                </span>

            </div>
        </div>
    </li>
<% }) %>
<br>
