<style>
	.engHeader {

		background: rgba(238, 238, 238, 0.64) none repeat scroll 0% 0%;
	}
	.taskHeader {

		background: rgba(238, 238, 238, 0.64) none repeat scroll 0% 0%;
	}
	.engHeaderactive {


	}
	.tasks {

	}
</style>
<%
	_.each( data, function( engineer ) {
		var header = engineer[0]
		var tasks = _.without( engineer, header);
		var tasksCompleted = _.filter(tasks, function(c) {
			return(c.engineerGuid===header.engineerGuid && c.arriveDate!=='');
		});
		var todayHoursInt = header.todayHours;

		if ( tasks - tasksCompleted.length  > 0 ) {
			var workPlanned=1;
		} else {
			var workPlanned=0;
		}

		if ( !todayHoursInt ) todayHoursInt=0;
		var idleStatus = 'IDLE';



%>
		<li class="list-group-item engHeader" data-engineerGuid = "<%=header.engineerGuid%>" onclick="">

			<div class="row">
				<div class="col-md-1 col-xs-4 text-center">


					<img  class="img-circle" height="80px;" src="https://cloudfmsystems.com/avatar/<%=header.avatarGuid%>.jpg" />
				</div>
				<div class="col-md-11 col-xs-8 vcenter" style="padding-left: 0px;">
	                <span>
	                    <strong><%=header.engineerName%></strong>
	                    <span class="pull-right">
							<% if ( todayHoursInt >= 7.5 && header.beginTime ) {
								idleStatus = 'OVER';
							%>
								<span class="badge badge-success" style="border-radius: 5px;"><%= header.todayHours%> h - <%=idleStatus%></span>
							<%
							}
							if ( todayHoursInt > 0 && todayHoursInt < 7.5 && header.beginTime  && workPlanned === 0 ) {
								idleStatus = 'IDLE';
								%>
								<span class="badge badge-danger" style="border-radius: 5px;"><%= header.todayHours%> h - <%=idleStatus%></span>

								<%
							}
							%>
						</span> <br>
	                </span>
	                <span>
	                    Start / End Day
						<% if ( !header.beginTime ) { %>
							<spam class="badge badge-warning pull-right">Not begun day</span>
						<% } else { %>
	                    <span class="pull-right"><%!!header.beginTime && print( header.beginTime ) %>  -   <% !!header.endTime && print( header.endTime )%></span>
						<% } %>
						<br>
	                </span>
					<span>
	                    Completed Today
						<span class="pull-right"><%=tasksCompleted.length%> / <%=tasks.length%></span> <br>
	                </span>
	            </div>
			</div>
			<div class="table-responsive">
				     <table class="table table-hover">
					    <tbody>
								<%	_.each( tasks, function( t ) { %>
						    <tr>
							    <td>
										<div class="row">
											<div class="col-md-2 col-xs-4 text-left" style="font-size:0.8em;">
												<% if ( t.arriveDate!=='' &&  t.departDate !=='' ) { %>
													<button type="button" class="btn btn-xs btn-success">
														<span class="glyphicon glyphicon-ok"></span>
													</button>
													<%=t.closureStatus%><br />
													<span>
															<%=t.arriveDate%><br /><%=t.departDate%>
													</span>
												<% } %>
												<% if ( t.arriveDate!=='' && t.departDate==='' ) { %>
													<button type="button" class="btn btn-xs btn-warning">
														<span class="glyphicon glyphicon-phone"></span>
													</button> On site<br />
													<%=t.arriveDate%>
												<% }  %>
												<% if ( t.arriveDate === '' ) { %>
													<button type="button" class="btn btn-xs btn-danger">
														<span class="glyphicon glyphicon-time" ></span>
													</button> ETA<br />
													<span>
															<%=t.etaDateNice%>
													</span>
												<% }  %>
											</div>
											<div class="col-md-10 col-xs-8 text-right">
												<%=t.clientName%> / <%=t.bName%><br />
												Task : <%=t.taskNum%><br />
												<%=t.dName === 'Proactive Maintenance Visits' ? 'PMV' : t.dName %> / <%=t.taskType%>
											</div>
										</div>
									</td>
						    </tr>
								<%  }) %>
					    </tbody>
				     </table>
			</div>
		</li>
<% }) %>
