<li class="list-group-item taskHeader">
	<strong><%=moment(v.etaDate).format('llll')%></strong>
	<span class="pull-right">
		<button class="btn btn-xs btn-info tgl" data-toggle="button">Details
		</button>
	</span>
</li>
<div class="main-">
	<% if ( notes.length > 0 ) { %>
		<li class="list-group-item">
			Previous visit notes:
			<span class="badge badge-danger pull-right"><%=notes.length %> </span>
		</li>
	<% } %>
  <li class="list-group-item">
		Task: <span class="pull-right"><%=v.taskNum%></span>
	</li>
  <li class="list-group-item <%=v.RES_Status === 'Complete' ? 'list-group-item-success' : '' %>">
	  Status: <span class="pull-right"><%=v.RES_Status%></span>
  </li>
	<li class="list-group-item">
		Discipline: <span class="pull-right"><%=v.discipline%></span>
	</li>
	<li class="list-group-item">
		Client: <span class="pull-right"><%=v.clientName%></span>
	</li>
	<li class="list-group-item">
		Building:
		<span class="pull-right"><u><%=v.buildingName%></u></span>
		<div class="text-right">
			Tel: <%=v.BLD_TEL%><br>
			<%=v.BLD_ADD%><br> <%=v.BLD_ADD2%>, <%=v.BLD_POSTCODE%></br>
		</div>
	</li>
	<li class="list-group-item">
		<button class="btn btn-xs btn-info showOddJobs" data-action="0">
			Odd jobs ( <%=v.oddJobCount%> )
		</button>
		<span class="pull-right">
			<a class="requestReport">Email site report </a>
		</span>
	</li>
	<li class="list-group-item text-center notify-" style="border-bottom:none; display:none">
	</li>
</div>
<ul class="list-group oddJobs" style="display:none">
</ul>
<div class="desc-" style="display:none;">
	<span class="taskNotes"></span>
	<li class="list-group-item">
		<strong>Task Description</strong>
	</li>
	<li class="list-group-item" style="border-bottom:none;">
		<p> <%=v.TSK_DESCRIPTION%></p>
	</li>
</div>
<div class="divider"></div>
