<style type="text/css">
	.ep {
		padding:15px 15px;
	}
	.np {
		padding: 0px
	}

</style>

<div class="xpanel panel-primary main">
	<div class="panel-heading">
		<div class="row clearfix">
	  		<div class="col-xs-3"></div>
	  		<div class="col-xs-6 text-center">My Agenda</div>
	  		<div class="col-xs-3">
	  			<span class="pull-right"> <%=slide.no%> / <%=slide.max%></span>
	  		</div>
	  	</div>
	</div>
	<div class="sectionBody scroll list-group" style="" android:fastScrollEnabled="true">
		<ul class="list-group">
			<li class="list-group-item ">
				<% if ( !engineer )  { %>
					<button class="btn btn-success btn-block btn-lg sync"> Sync <span class="small"></span></button>
				<% } else { %>
					<div class="row" style="padding:8px;">
  						<div class="col-md-1 col-xs-4 text-center">
  						<% if( !!engineer.mobileGuid ) { %>
  							<img data-engGuid='<%=engineer.mobileGuid%>' class="img-circle eng" src="https://cloudfmsystems.com/avatar/<%=engineer.avatarGuid%>.jpg" width="80px" height="80px">
  						<% } %>
  						</div>
  						<div class="col-md-11 col-xs-8" style="padding-top:8px;">
  							<span>
  								<strong><%=engineer.firstname + ' ' + engineer.surname%></strong>
  								<span class="pull-right badge"> <%!!engineer.todayHours && print(engineer.todayHours+ '  h')%></span> <br>
  							</span>
  							<span>
  								Mobile
  								<span class="pull-right"><%=engineer.mobile%></span> <br>
  							</span>

  							<span>
  								Start/ End Day
  								<span class="pull-right"><%=engineer.beginTime%>   <%='- ' + engineer.endTime%></span> <br>
  							</span>

  						</div>
  					</div>
				<% } %>
			</li>
			<li class="list-group-item ep" data-stat='visitPast' data-title='Past'>
				Past
				<span class="pull-right"><span class="stats badge visitPast"></span></span>
			</li>
			<li class="list-group-item ep" data-stat='visitToday' data-title='Today'>
				Today
				<span class="pull-right"><span class="stats badge visitToday"></span></span>
			</li>
			<li class="list-group-item ep" data-stat='visitTomorrow' data-title='Tomorrow'>
				Tomorrow
				<span class="pull-right"><span class="stats badge visitTomorrow"></span>
			</li>
			<li class="list-group-item ep" data-stat='visitFuture' data-title='Future'>
				Future <span class="pull-right"><span class="stats badge visitFuture"></span>
			</li>
		</ul>
	</div>
</div>
<div class="subPanel" style="display:none">
</span>
