<%= $.headerTmp({'title': moment(serviced_on).format('lll'), noRight: true, customLeft: 'btnBackToAssetHistory'}) %>
<ul class="sectionBody scroll list-group" >
	<li class="list-group-item list-group-item-default">
		Serviced by: <span class="pull-right"><%=serviced_by_engineer%></span>
	</li>
	<li class="list-group-item">
		Service interval:
		<span class="pull-right"><%=service_interval%></span>
	</li>
	<li class="list-group-item">
		Is operational ?
		<span class="pull-right">
			<% if ( operational === 1 ) { %>
				<span class="label label-success">Yes</span>
			<% } else  { %>
				<span class="label label-danger">No</span>
			<% } %>
		</span>
	</li>
	<li class="list-group-item">
		Condition:
		<span class="pull-right"><%=condition%></span>
	</li>
	<li class="list-group-item list-group-item-default">Service notes</li>
	<li class="list-group-item"><%=comments%></li>
	<li class="list-group-item">
		Past Service:
		<span class="pull-right">
			<% if ( PassFail === 1 ) { %>
				<span class="label label-success">Pass</span>
			<% } else  { %>
				<span class="label label-danger">Fail</span>
			<% } %>
		</span>
	</li>
</ul>
