<script type="text/template" id="auditStub">
	<li class="list-group-item list-group-item-default audHead">
		<span style="vertical-align: middle">
			<%= TSK_TASK_NUM %>
		</span>
    <span class="pull-right notCompleteWarn"></span>
	</li>
  <li class="audBody inline-list-group list-group-item no-pad">
    <div class="audLeft list-group-item inline-list-group inline-list-group-item grow no-pad">
      <div class="inline-list-group-item standardFlexColCon grow">
      	<div class="list-group-item standardFlexColRowGrow posRel">
      		<div class="taskDesc ">
        			<p>
        				Task Description:
        			</p>
        			<p>
        				<%= $('<p>'+TSK_DESCRIPTION+'</p>').text() %>
        			</p>
              <% if(TSK_MAN_ASSETLOC){ %>
                <p>
          				Asset Location: <%= TSK_MAN_ASSETLOC %>
          			</p>

              <% } %>
          </div>
      	</div>
        <div class="list-group-item standardFlexColRow posRel">
          <div>
            <p>
              <span style="vertical-align:middle; margin-top:-3px; font-size:1.3em;" class="glyphicon glyphicon-calendar"></span>
              <span style="vertical-align:middle"> Attended on: <%= moment( RES_DepartDate ).format('DD/MM/YYYY') %>&nbsp;&nbsp;</span>
              <span style="vertical-align:middle; margin-top:-3px; font-size:1.3em;" class="text-<%= RES_Status !== 'Complete'? 'danger' : 'success' %> glyphicon glyphicon-<%= RES_Status !== 'Complete'? 'remove' : 'ok' %>-circle"></span>
              <span style="vertical-align:middle"> Closing status: <%= RES_Status %></span>
      			</p>
      		</div>
      	</div>
      </div>
      <div class="inline-list-group-item list-group-item-default valignFlexColCon btnAudDeets dont-shrink" style="width:50px; text-align:center">
        <span style="margin:0 auto" class="glyphicon glyphicon-chevron-right"></span>
      </div>
    </div>
    <div class="audRight list-group-item inline-list-group inline-list-group-item grow no-pad">
      <div class="inline-list-group-item list-group-item-default valignFlexColCon btnAudDeets dont-shrink" style="width:50px; text-align:center">
        <span style="margin:0 auto" class="glyphicon glyphicon-chevron-left"></span>
      </div>

      <div class="inline-list-group-item grow list-group standardFlexColCon" style="">
        <div class="inline-list-group list-group-item standardFlexColRow no-pad">
          <div class="inline-list-group-item list-group-item grow">
            <p>
              Engineer notes:
            </p>
            <p><%= EV_DESCRIPTION %></p>
          </div>
          <div class="pull-right auditSlider list-group-item inline-list-group-item">
              <span style="vertical-align: middle" class="small">Rate works:</span>&nbsp;&nbsp;&nbsp;
              <input class="bootstrapSlider" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" />
          </div>
        </div>
        <div class="list-group-item inline-list-group standardFlexColRow no-pad">
          <div class="inline-list-group-item list-group-item grow auditDetailsPhotos" style="border-width:0; "></div>
        </div>
        <div class="auditNotes list-group-item standardFlexColRowGrow">
            <textarea class="form-control auditNotes" style="width:100%; resize:none;" placeholder="Enter your notes here" rows="4" disabled ><%= auditNotes %></textarea>
        </div>
        <div class="postAudit list-group-item">
          <div class="btn btn-success btnSaveAudit" style="padding:15px 15px; width:100%">
            Done <span class="glyphicon glyphicon-floppy-saved"></span>
          </div>
        </div>
      </div>
    </div>

  </li>


</script>
